[2020-07-02 14:05] KDGundermann commented on #610
Hi Philip,
give me 1-2 days and I will prepare some suggestions. But first I would try to conclude the work on Logger.

Regards,
Klaus

[2020-07-03 09:50] philipianpearce commented on #610
Hi Klaus,

It's OK, I don't now need a relative path patch as I have coded for it for all .Include cases (.conf, lists and storys) and will push this to v5.4.dev later today.

On reflection the .Pwd<> directive is a bit confusing so I will be changing it to .Define __PWD__<> t make it clear what it does which is similar to C #define. Thanks for highlighting this.

Thanks,
Philip

----- Original Me

[2020-07-03 23:40] ghost commented on #605
It's possible to see this info in the log file:
`/usr/local/var/log/e2guardian/access.log`

[2020-07-03 23:40] #605 closed, assigned to nobody

[2020-07-03 23:44] ghost opened #613 "Bug: Ability to surpass e2guardian on youtube.com"
I just found out how to surpass e2guardian on youtube:

**Steps to reproduce:**
1. Go to youtube.com
2. Search for something random like 'coffee now'
3. Now append 'coffee now' with a banned term, such as 'coffee now asshole' and hit enter.

**Expected behaviour:**
When doing step (3), it should show the e2guardian banned page.

**Actual behaviour**
But actually (3) works, and it shows things that

[2020-07-08 01:18] ccoager commented on #599
I can confirm this bug as well.  Tried putting my machine into a specific filter group and it always came up as the default group.  I downgraded to 5.3.4 and it is working as expected again.

[2020-07-08 13:14] KDGundermann commented on #606
which id/groupid have the e2guardian and clamav users ??

[2020-07-08 14:05] quattr0 commented on #606
[code]

[2020-07-08 14:13] fredbcode commented on #606
Please add clamav to e2guardian group or run clamav whith e2guardian id
(if possible)

[2020-07-08 21:51] quattr0 commented on #606
I added clamav to e2guardian group and restarted e2guardian, same error.

`root@ubuntu:~# groups clamav`
`clamav : clamav e2guardian`

[code]

[2020-07-09 07:46] fredbcode commented on #606
Hum, you can run clamav with e2guardian id ?
Also please try ls -la /tmp/* again and again when the proxy is used, you should see some files and their rights

[2020-07-12 12:34] KDGundermann opened #615 "Opinion: Make e2guardian easier to configure"
When using e2guardian for the first time, you have to read (and understand) a lot of config files:
- e2guardian.conf and e2guardianf1.conf with 1.300+ lines
- preauth.story, common.story, site.story, f1.story with about 450 lines

That would be fine if you are a pro and would like to configure every detail of the software,
but as a beginner I would like to have it as easy as possible, install the

[2020-07-12 13:35] KDGundermann commented on #615
Proposal for Step2:
use sensible defaults in the software, document them in the config files but let them commented out.
So every non-commented line is a config option changed by the user on purpose.

[2020-07-12 14:27] KDGundermann commented on #615
Step 3 : block every site

for blocking a site I have to understand how the algorithm of e2guardian works.  (yes I know its buried in the *.story files, but thats way to complex for e beginner to understand)
I have also looked on the old dansguardian sites, but couldn't find a high level explanation (please correct me if there is one !)

If I would write an explanation of the algorithm, I would wr

[2020-07-12 15:54] KDGundermann commented on #615
Step 4 : allow access to on specific site

that's now an easy one,
add e.g. e2guardian.org to `./check-requests/exception/dns-sites.list`

[2020-07-12 15:59] KDGundermann commented on #615
Step 5 : allow access to .png files on cloudfront.net

ok, that's now two conditions:
add 'cloudfront.net' to `./check-requests/grey/dns-sites.list` (so it will continue to check more conditions..)
and '.png' to `./check-requests/exception/file-extensions.list`

[2020-07-12 21:32] KDGundermann commented on #615
Oh, my boss wants to access all banking websites and the sales department should be allowed to access all .com and .org websites (but with virus scanning and phrase checking filter of course)

Step 6 : add additional groups
there is an option 'filtergroups' in e2guardian.conf, I change it to '3' and restart e2guardian.
Previously there was a folder named "group1" which I use before. Now e2guardian

[2020-07-13 11:37] philipianpearce commented on #599
I have now managed to replicate this - will fix.

[2020-07-13 12:06] philipianpearce commented on #599
I  can only replicate this if I have the filtergroups set to 1.   When set to the correct number of filter group all works OK.

[2020-07-13 14:16] ccoager commented on #599
My filtergroups is set correctly to 2 and the issue is still reproducible.

[2020-07-13 14:33] philipianpearce commented on #599
If you would send me a copy of these config files:- pre-auth.story, e2guardian.conf, and authplugins/ipgroups, I will try and reproduce with your configs.

Regards
Philip

----- Original Message -----

[2020-07-14 01:45] ccoager commented on #599
Try this.  I'm using this with squid with e2guardian in ICAP mode.
[599.zip](https://github.com/e2guardian/e2guardian/files/4916032/599.zip)

`Jul 13 21:26:09 proxy-e2guardian 06e1e09833df[19353]: 1594689969.977            -       192.168.0.50    192.168.0.50    https://www.google.com:443      CONNECT 0       0       -       Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:78.0) Gecko/20100101 Firefox

[2020-07-14 08:13] philipianpearce opened #616 "V5.4 IP authentication issue in ICAP mode"
I can confirm this bug as well.  Tried putting my machine into a specific filter group and it always came up as the default group.  I downgraded to 5.3.4 and it is working as expected again.

_Originally posted by @ccoager in https://github.com/e2guardian/e2guardian/issues/599#issuecomment-655223263_

[2020-07-14 08:15] philipianpearce commented on #616
https://github.com/e2guardian/e2guardian/issues/599#issuecomment-657596922

[2020-07-14 08:16] philipianpearce commented on #616
https://github.com/e2guardian/e2guardian/issues/599#issuecomment-657917607

[2020-07-14 08:19] philipianpearce commented on #599
I think this is a different issue to jwc866 so have open a new issue for this. #616

[2020-07-14 09:45] philipianpearce commented on #610
Variable name changed from PWD to LISTDIR as this better reflects it's purpose.

[2020-07-14 10:47] philipianpearce commented on #616
@ccoager    Thanks, your config looks fine.    I have done a visual check of the code (compared to v5.3) and have not been able to see the problem.

I don't have an icap test rig, so would you run a test with  storyboardtrace = on and send me the result?

Thanks,
Philip

[2020-07-14 20:32] ccoager commented on #616
@philipianpearce Here is the log you requested.
[616.zip](https://github.com/e2guardian/e2guardian/files/4921224/616.zip)

[2020-07-15 09:04] philipianpearce commented on #616
@ccoager OK, that is useful, but does not contain the storyboard trace, which should be in syslog.

[2020-07-16 03:23] ccoager commented on #616
"Output goes to syslog (or stderr in debug mode)" - This is either a bug or the documentation is wrong.  I was using stderr but the storyboard trace didn't get logged.  I had to run syslog to capture this.  Try this.
[616-2.zip](https://github.com/e2guardian/e2guardian/files/4929119/616-2.zip)

[2020-07-16 15:59] philipianpearce commented on #616
@ccoager Thanks,  With the SB trace I think I have found the problem.  Please try latest v5.4.dev and let me know if it is now OK.  If not please send another trace.

"Output goes to syslog (or stderr in debug mode)" - This is either a bug or the documentation is wrong.

The documentation was correct when this was written (prior to the introduction of the the 'new' debug config entries) as it refe

[2020-07-16 18:04] fredbcode commented on #616
Hi Philip,

FI: I'm seeing that the ci/cd test is broken.

https://gitlab.com/fredbcode/e2guardian/-/pipelines

So there is no package for testing purpose now

Le 16 juillet 2020 18:00:03 GMT+02:00, Philip Pearce <notifications@github.com> a écrit :

--
Envoyé de mon appareil Android avec Courriel K-9 Mail. Veuillez excuser ma brièveté.

[2020-07-16 21:53] philipianpearce commented on #616
Fred,

Thanks for letting me know. I will fix.

Philip
----- Original Message -----

[2020-07-18 17:34] KDGundermann commented on #604
mmh, and what should we do, if we want to BLOCK all of the domain and only allow google.com/search ?

[2020-07-18 17:42] KDGundermann commented on #536
Were you able to load your lists in e2guardian?
Would it be possible to have this lists public available to include it in my own e2guardian installation ?

[2020-07-21 10:11] fredbcode commented on #616
Ok, there is a package for ubuntu & debian for branch "v5.4.dev" now

[2020-07-21 10:52] philipianpearce commented on #616
@ccoager Hi, can you confirm that the fix works for you?

Can I close the issue?

[2020-07-22 07:56] philipianpearce commented on #610
Implemented in v5.4.dev and v5.5.dev

[2020-07-22 07:56] #610 closed, assigned to philipianpearce

[2020-07-22 08:25] philipianpearce opened #618 "v5.4 Reorganize example conf files and list file locations to ease user configuration"
Reorganize and categorize options in example e2guardian*.conf  config files and list file locations to ease user configuration.

Put lists relating to a filter group into groupn sub-directory etc.

Add defaults wherever possible to the few options that do not have a default.

Document presidence of option declaration,  (final entry wins).

This will implement some of the suggestions (not all) from

[2020-07-22 11:18] KDGundermann commented on #618
Hi Philip,
I have already started to reorganize the options and add some defaults, but on the v5.5 branch..

Shouldn't we start to mark some options as "to be deprecated" in v5.4  and do the actual change in v5.5 ??

[2020-07-22 14:02] philipianpearce commented on #618
Hi Klaus,

The reorganising I am doing is purely to the example .conf file themselves so that they are easier to read and configure for the new user and to the location of the example lists. I am not changing the name of any config options or renaming any internal variables or functions. The only code changes I am making is enable default values where needed. There are only a few of them that need

[2020-07-22 14:08] philipianpearce commented on #615
There are only a few items that do not already conform to this. There are some very few exceptions where 0 is used as a value and we do not want this to be the default so these will have to remain for the moment.   And others that need a default added - can be done largely in v5.4

[2020-07-22 14:37] KDGundermann commented on #618
Great! And I have done it in code (OptionContainer) group options, which I thought they go logical together and mark those which are not used. So we should have found the same unused options.

[2020-07-25 03:04] ccoager commented on #616
@philipianpearce  This is still not working with the e2ubuntu_focal_V5.4.2_20200721.deb build.
[616-3.zip](https://github.com/e2guardian/e2guardian/files/4974838/616-3.zip)

[2020-07-28 11:36] philipianpearce commented on #618
@KDGundermann   It's taken me longer than I thought to finish this, but attached is the current draft of the reorganized e2guardian.conf.in file.  I will not push it to github until I have completed the exercise on e2guardianf1.conf.in.
[e2guardian_conf_in.txt](https://github.com/e2guardian/e2guardian/files/4988011/e2guardian_conf_in.txt)

[2020-07-30 12:33] KDGundermann commented on #618
Hi Philip,

great work !!

The configuration file is now much easier to understand.

Two annotations:

I would like to see the explanation for __LISTDIR__
not at the end of the document in the INFO section,
but where __LISTDIR__ is declared (Line 43)

I would like to declare __LISTDIR__ without trailing backslash.
So instead of:
  .Define LISTDIR <@E2CONFDIR@/lists/>
  sitelist = 'name=nomitm,path

[2020-08-01 14:00] philipianpearce opened #619 "v5.3 on - When using x-forwarded-IP behind proxy MITM requests show wrong IP"

[2020-08-01 14:04] philipianpearce commented on #619
Fix applied to v5.3.dev

v5.4.dev and v5.5.dev still to be done.

[2020-08-03 10:33] philipianpearce commented on #618
Hi Klaus,

Thanks for your feedback.

I'll add a short comment regarding LISTDIR into QUICK_START and refer to the INFO section for more detail.

I agree that the path would look clearer to read if the the '/' is not added to the end of LISTDIR.

I will make those changes.

Regards
Philip

----- Original Message -----

[2020-08-05 15:23] philipianpearce opened #620 "Add proxy-first auth plugin"
Add new auth plugin for use when e2g is behind squid - will enable use of any auth supported by squid.

[2020-08-05 15:33] philipianpearce opened #621 "Possible to use (behind e2g ) proxy auth when in direct upstream mode."
Check for security of headers etc

[2020-08-05 15:35] philipianpearce commented on #621
Related to #619

[2020-08-05 15:36] philipianpearce commented on #619
Fixed in v5.4.dev

[2020-08-05 15:42] philipianpearce commented on #618
Initial reorganization completed.    Lists are now in sub-directories of the lists directory with READMEs in the lists and new common and example.group sub-directories.

e2guardian.conf and e2guardianf1.conf example now in sections with first section QUICK_START
to aid new users.

[2020-08-05 15:43] philipianpearce commented on #618
Pushed to github (v5.4.dev)

[2020-08-05 15:48] philipianpearce commented on #620
Implemented in v5.4.dev

[2020-08-14 09:40] Dalacor commented on #599
I don't know if my problem is related as nobody mentions an error message and I am trying to get port authentication to work, not IP authentication. Had no issues getting this to work in ver 5.3

Using a default install of 5.4, I have added the following in e2guardian.conf:

filterports =8080
filterports =8081
filterports =8082
filterports =8083

filtergroups = 4

enabled authplugin - port.conf (n

[2020-08-14 12:30] philipianpearce commented on #599
@Dalacor Are you using v5.4.1 or v5.4.2? If v5.4.1 please try v5.4.2 and see revised e2guardian.conf comments in v5.4.2.

You still need to define the authplugin ...port.conf there is no change here.

But port.conf has a revised format - copy the sample from configs/authplugins/port.conf

The other change is that the portgroups file is no longer declared within port.conf, but as a maplist in e2gua

[2020-08-14 13:20] Dalacor commented on #599
I am using 5.4.1. I tried installing 5.4.2 but the install does not work - it is missing nearly all the files!

I have uploaded the files so that you can confirm that I have them configured correctly. Thanks

[portauth.zip](https://github.com/e2guardian/e2guardian/files/5074757/portauth.zip)

[2020-08-14 15:20] philipianpearce commented on #599
This is what is causing the mapauthtoports issue (in e2guardian.conf)

# to number of ports
# on (default) | off
#mapauthtoports = off

It's commented out and default in v5.4.1 is 'on' (changed in v5.4.2 to off)

All the other files are fine.

What files are missing when you install v5.4.2r? I have tested a make install here and it works as expected and I can not see anything missing. Note that mo

[2020-08-14 17:58] Dalacor commented on #599
Aah yes - my bad. I did not read that section carefully enough and was thinking that because it was remmed out it was off, not on! I should have checked my 5.3.4 file and noticed the discrepancy.

I would recommend that E2guardian move to a format where if it is remmed out - the default is off. If it needs to be on then it should be unremmed. It would make it easier to pick up what's on/off.

With

[2020-08-14 19:29] philipianpearce commented on #599
The defaults in v5.4.2 are more sensible, but I do not think that the bools all default to 'off'. We wll look at this again in v5.5.

OK, I'll close this ticket now, as it seems to be getting overloaded, with several different although similar issues.  Most of which are now resolved.

Please open new specific ticket if problems are persisting.

[2020-08-14 19:29] #599 closed, assigned to philipianpearce

[2020-08-14 19:39] philipianpearce commented on #616
@ccoager Hi, can you confirm that the fix works for you with latest v5.4.2?

Can I close the issue?

[2020-08-14 19:40] philipianpearce commented on #620
Implemented in v5.5.dev  and v5.4.2r pre-release

[2020-08-14 19:40] #620 closed, assigned to philipianpearce

[2020-08-14 20:05] philipianpearce commented on #604
@elyoas

Banned lists are (and always have been) redundant in blanket block mode -
Blanket block means block everything (or *) that is NOT in exception or grey lists.

Putting any site in the site exception list means that, it is an EXCEPTION to url filtering and content inspection, and it will NOT be MITM or interfered with in any way.

It should be possible to do what you want using exceptionreg

[2020-08-14 20:11] philipianpearce commented on #604
@KDGundermann

That is a lot easier, as block is done last.   Add google.com/search to exceptionurllist (or to greyurllist if you want search terms and result content-checked) and add add google.com to blockedsitelist.

[2020-08-14 20:21] philipianpearce commented on #604
@elyoas

Due to the way https sites have to be processed, it is simply not possible to 'fix' this in the way you suggest.

With https a decision has to be made on whether to let the site through and whether to MITM (in order t do url and content inspection) when all the info e2guardian has the site name.   So it is impossible to block a url within a domain and allow the domain as an exception.

[2020-08-14 20:21] #604 closed, assigned to philipianpearce

[2020-08-14 20:34] #545 closed, assigned to philipianpearce

[2020-08-14 20:37] #536 closed, assigned to nobody

[2020-08-14 20:37] #520 closed, assigned to philipianpearce

[2020-08-14 20:39] #493 closed, assigned to philipianpearce

[2020-08-14 20:41] philipianpearce commented on #492
No activity, so closing.  Please reopen if issue re-occurs.

[2020-08-14 20:41] #492 closed, assigned to nobody

[2020-08-19 14:05] Dalacor opened #622 "Filetype Field Missing"
We are working on importing the access.log file into a log analyser program and I noticed that there is no field for Filetypes. One of the things that I was wanting to achieve with the log analyser was to determine what filetypes are currently being download, by whom/what and what website. However the access log only records a message when a filetype is blocked.

Would it be possible to add a new

[2020-08-19 14:09] Dalacor opened #623 "Google Search and Youtube Search results in Log file"
Using the new 7/8 log format Search Terms field I have noticed something rather interesting.

If you go to google and type "cats" it will show cats in Search Terms. However in Youtube typing "cats" will show "c" in Search Terms, then "ca" on next line in Search Terms, then "cat" on next line, then "cats" on next line and "cats on two more lines!

Is this a bug or is Youtube refreshing the page aft

[2020-08-19 18:54] Dalacor commented on #622
Another little thing that was raised was the lack of headers in the access.log file whereas the dstats.log file has headers. Would it be possible to add headers so that when new fields are added to the access.log file it is easy for log analysis programs to add the new column by header name rather than position of column.

[2020-08-24 17:30] opoplawski opened #624 "Need automatic certificate regeneration, specify certificate lifetime"
I'm starting to look at the ramifications of Apple changing Safari to not accept SSL certificates with an expiration date greater than 398 days.  To start with I'm manually setting (and updating) generatedcertstart to be the current time and generatedcertend to be that + 398 days.  But it probably would be easier to be able to specify the cert lifetime rather than having that be hard-coded to 10 y

[2020-08-24 21:37] opoplawski commented on #624
Actually, after thinking about this some more, I don't think this will be an issue for a while longer.  Apple at the moment will only enforce for certificates issued (presumably "start time") after Sep 1, 2020.  So the default start time of 2014 should make it okay.  But this still should be addressed at some point.

[2020-08-28 10:06] philipianpearce opened #625 "V5.4 No Message returned with av scan block"
AV scan block gives error message 0.

[2020-08-28 16:29] xes opened #626 "v5.4.2r pre2 Segfaults continuosly with commandline scan enabled"
e2guardian 5.4.2r pre2 build on centos8  ~100 users, MITM enabled
Enabling commandline scan, pointing to a simple script like:

--------------------------------------------------------------
#!/bin/sh
echo "$1" >> /tmp/scan.log
fileinfo=`file "$1"`
echo "$fileinfo" >> /tmp/scan.log
if echo "$fileinfo" | grep -i pdf > /dev/null
then
      cp $1 /tmp/pdf_archive/
fi
exit 0
--------------------------

[2020-08-28 17:51] philipianpearce opened #627 "Option to add headers to access log"
Another little thing that was raised was the lack of headers in the access.log file whereas the dstats.log file has headers. Would it be possible to add headers so that when new fields are added to the access.log file it is easy for log analysis programs to add the new column by header name rather than position of column.

_Originally posted by @Dalacor in https://github.com/e2guardian/e2guardian/

[2020-08-28 17:53] philipianpearce commented on #627
it is a good idea - will look at it for v5.5

[2020-08-28 18:58] Dalacor commented on #627
Thanks. I will look out for it.

[2020-08-29 18:29] philipianpearce commented on #626
@xes Did you have comandlinescan working in any previous e2g version?  If so which version?

[2020-08-29 18:31] philipianpearce commented on #625
Needs investigation, waiting for confirmation of scanner plugin used.

[2020-08-29 18:45] philipianpearce commented on #623
Youtube javascript is doing completion suggestions, so one request per letter.

To fix find what the 'complete' url is for Youtube and then add it to lists/common/searchexceptionregexplist.  This will stop these 'part searches' being detected and logged as searches.

Google has already an entry in this sample file so that is why the behavour is different.

[2020-08-29 18:57] philipianpearce commented on #537
Still need to revise mode comparison pdf.

[2020-08-29 23:08] xes commented on #626
No, this is the first time i'm trying to enable commandlinescan to check pdf and office documents containing malicious code.

[2020-09-01 14:40] philipianpearce commented on #625
ClamAV is the plug in being used.

[2020-09-01 15:00] philipianpearce opened #628 "v5.4 Mimetype not shown in access log"
checkme.mimetype is always empty - this field should be obtained from the  response header.

[2020-09-01 15:07] philipianpearce commented on #628
Fixed in v5.4.dev

[2020-09-01 16:09] KDGundermann opened #629 "v5.4.dev Build error : cannot stat 'authexceptionsiteiplist': No such file or directory"
`
/bin/bash /e2guardian/install-sh -d /etc/e2guardian/lists/common && \
	for l in authexceptionsiteiplist authexceptioniplist authexceptionsitelist authexceptionurllist bannedclientlist bannediplist browserregexplist embededreferersiteiplist embededreferersitelist embededrefererurllist exceptionclientlist exceptioniplist nologextensionlist nologregexpurllist nologsiteiplist nologsitelist nologurll

[2020-09-01 16:42] philipianpearce commented on #629
Should be fixed in last push of v5.4.dev
README file was missing from the git bundle.

Thanks for the info.

[2020-09-01 17:01] KDGundermann commented on #629
Build OK !

[2020-09-01 17:01] #629 closed, assigned to philipianpearce

[2020-09-06 18:03] sebtombs opened #630 "v5.4.2r Raspbian dies soon after starting with no obvious warnings"
Raspberry Pi 3b+ running Raspbian Buster with latest updates. No GUI - command line interface only.

Configured as a wireless AP per the Raspberry Pi foundation instructions. Working as a wireless AP (clients access Internet via it as expected).

Downloaded https://e2guardian.numsys.eu/v5.4/e2raspbian_buster_V5.4.2r_20200812.deb using wget and installed using dpkg -i.

Originally missing libevent_

[2020-09-06 18:12] fredbcode commented on #630
What happen without & ?

Did you try with another version from e2guardian.traceroot.fr ?
--
Envoyé de mon appareil Android avec Courriel K-9 Mail. Veuillez excuser ma brièveté.

[2020-09-06 19:53] sebtombs commented on #630
Hi. Without the & nothing is reported to the command line. Otherwise the behaviour is the same.

I'm getting no DNS response for e2guardian.traceroot.fr

This isn't urgent for me so please don't let it mess up your Sunday evening!

[2020-09-06 19:59] fredbcode commented on #630
Sorry e2guardian.numsys.eu of course

Can you try with e2guardian -N please
Do you have something in syslog ?

[2020-09-06 20:00] fredbcode commented on #630
And also e2guardian --help just for testing purpose

[2020-09-06 20:23] fredbcode commented on #630
And try this

https://e2guardian.numsys.eu/v5.4.dev/e2raspbian_buster_V5.4.3_20200902.deb

[2020-09-06 20:43] sebtombs commented on #630
sudo e2guardian -N yields
terminate called after throwing an instance of 'std::system_error'
  what():  Resource temporarily unavailable
Aborted

I can't see anything relevant in the system logs.

--help works OK.

I'll try 5.4.3 from the dev folder now.

[2020-09-06 20:54] sebtombs commented on #630
sudo dpkg -r e2guardian
sudo dpkg -i e2raspbian_buster_V5.4.3_20200902.deb

same result from -N

[2020-09-06 22:50] sebtombs commented on #630
Just wondered whether the resource issue is down to ownership.

Given the files are owned by an e2guardian user, I'm presuming that the service runs as that user.

I've therefore tried
[code]
instead.

This gives me
[code]

However, that's an ownership problem with the PID file. If I chown e2guardian:e2guardian the PID file first, I'm back to the resource error.

So, it looks like we're fine runni

[2020-09-07 05:29] fredbcode commented on #630
Weird, can you retry with 5.4.dev ?

But with rm -r /etc/e2guardian and also /var/run/e2guardian after uninstalling

And just start with systems

Thanks
--
Envoyé de mon appareil Android avec Courriel K-9 Mail. Veuillez excuser ma brièveté.

[2020-09-07 10:57] sebtombs commented on #630
That doesn't quite work - dpkg decides not to recreate the configuration files when I reinstall so the service errors out on install because it can't find e2guardian.conf.

However, dpkg -P does seem to remove them and tells dpkg to recreate them when installed again.

After doing so, service still says "inactive" and same result from -N if I stop the service first.

[2020-09-07 11:03] fredbcode commented on #630
Can you open a temporary ssh access please ?

numsys - @ - free - . - fr

Thanks

[2020-09-07 12:16] sebtombs commented on #630
I can't do that at the moment unfortunately as the Pi is behind a firewall which doesn't give access from the Internet.

There's something strange going on with task processes I think.
If I run
[code]
the process number given for ps is always 251 larger than that stored in /var/run/e2guardian.pid

8 of these are potentially due to sudo (repeated sudo ps -agux increment process number by 9)

Doesn'

[2020-09-07 16:37] fredbcode commented on #630
No one process

Maybe you have a process already running ? From a previous test ?

If you have a process, eguardian runs

I dontt understand why e2guardian -N with the latest 5.4.dev is broken

Just after a reboot do you have something running ? |e2guardian -N; ps
-agux|

[2020-09-07 18:05] sebtombs commented on #630
Sorry, I wasn't clear there. What I mean is the pid for ps itself is 251 larger than the one stored in the e2guardian pid file. There is never an e2guardian process visible in ps - I think it must die before ps gets to run.

[code]
yields a PID for ps which is 251 more than the one in e2guardian.pid.
ps itself runs as the pi user, not root

If I do
[code]
PID for ps increments by 1

Whereas if I d

[2020-09-07 19:00] sebtombs commented on #630
I've used -v to get the options that were used to build e2raspbian_buster_V5.4.3_20200902.deb and am building from v5.4.dev source now with those options and --with-e2debug

Hopefully this will allow me to see where it aborts

[2020-09-07 19:41] sebtombs commented on #630
Build seems to have worked :)

[code]

yields loads of debug information:

[code]
The number after hw when it dies is not consistent - was 226 on the second attempt and 185 on the next. On one attempt, a "waiting connection" message appeared between the "what" and "Aborted" on the console.

[2020-09-07 20:40] sebtombs commented on #630
Progress!

The debug suggested it wasn't getting past the loop which creates the http workers, so I looked for code setting o.http_workers.

This yielded the httpworkers option, so I added
[code]
to the config file. It is no longer generating an exception, and netstat shows 8080 is being listened to.

So, the question is, what is making it normally decide to create too many workers on my Pi, and i

[2020-09-07 20:57] sebtombs commented on #630
After a reboot, the service is now also working correctly with the httpworkers=20 in the config file

Aside:

I've learned something new about Linux here. If a process with PID x creates N additional threads, the next process to be created gets a PID of x + 1 + N. That's why the PID for ps was so much bigger, even though e2guardian does not create new processes for the threads. This is apparent fr

[2020-09-07 21:29] sebtombs commented on #630
OK. Looks like this may be an issue introduced in v5.4

Looking at the history of OptionContainer.cpp, it looks like the default for httpworkers was 100 but as part of the 5.4 work to remove the warning the default was changed to 500.  I can confirm that it works for me with httpworkers=100 in the config file. Maybe 500 works OK in normal Debian and Ubuntu but wasn't tested on a Pi, or was tested

[2020-09-08 06:14] fredbcode commented on #630
Maybe it's just a package issue ...

The systemd config was specifically adapted for this issue ...

Can you post your systemd file please ?

e2guardian.service
--
Envoyé de mon appareil Android avec Courriel K-9 Mail. Veuillez excuser ma brièveté.

[2020-09-08 06:18] fredbcode commented on #630
I mean e2guardian -N should raise a limit
But "systemctl start e2guardian" not

[2020-09-08 09:41] sebtombs commented on #630
Understood.

/lib/systemd/system/e2guardian.service:
[code]

[2020-09-08 09:47] fredbcode commented on #630
And it works with more than 500 ?
--
Envoyé de mon appareil Android avec Courriel K-9 Mail. Veuillez excuser ma brièveté.

[2020-09-08 09:50] sebtombs commented on #630
I've only tried 100 in the config so far, as that was the old default. I'm presuming "TasksMax" is supposed to allow more than the usual max number of threads. Will try different values in the config and restart the service each time.

[2020-09-08 09:52] fredbcode commented on #630
Ok thanks

Maybe there is no more issue with this package and good ip entry ?
--
Envoyé de mon appareil Android avec Courriel K-9 Mail. Veuillez excuser ma brièveté.

[2020-09-08 09:52] sebtombs commented on #630
200 works but 300 and 500 don't. It looks like TasksMax=Infinity is not working for some reason.

[2020-09-08 10:07] sebtombs commented on #630
Hmm. This is all a bit strange.
[code]
yields infinity, so it is being picked up correctly. From other parameters, it looks like infinity may be the default anyway. I'm going to try 20000 (the max allowed when parsing the config file).

[2020-09-08 10:17] sebtombs commented on #630
TasksMax doesn't seem to change the thread limit. With TasksMax=20000, httpworkers=200 in the config works but httpworkers=300 does not.

[2020-09-08 10:20] sebtombs commented on #630
Unless, of course, the resource we run out of when having more workers is not threads but something else ....

[2020-09-08 11:26] sebtombs commented on #630
.. which is actually supported by what status is saying. With httpworkers=200 in the config file and TasksMax=20000
[code]
reports
[code]

With TasksMax removed from the .service file, the limit on my Pi is 2065.

[2020-09-08 12:56] fredbcode commented on #630
Maybe I should add an ulimit option right before the compilation ?

https://github.com/e2guardian/e2guardian/blob/v5.4.dev/gitlabci/raspbianbuster.yml

Can you try this, ulimit -s unlimited , compilation, and try to run in the same shell (or at least a shell with ulimit -s unlimited and this binary)

[2020-09-08 14:15] sebtombs commented on #630
Another option seems to be StackLIMITSoft in the .service file. If I add
[code]
 then it works for httpworkers=300, 400 and 500, and the default of it not being in the config.
StackLIMIT itself appears to be infinity by default but StackLIMITSoft is not.

[2020-09-08 14:34] fredbcode commented on #630
Great ! I will add this
I keep you in touch this week

The latest package still with 5.3.3 tag ?

Thanks

[2020-09-08 15:31] sebtombs commented on #630
I think the 5.3.3 was only visible in 5.42r - can't see it now in the 5.4.3 dev; so that's already resolved.

Thanks to you too :)

[2020-09-09 08:47] philipianpearce commented on #628
Fixed in v5.5.dev

[2020-09-09 08:47] #628 closed, assigned to philipianpearce

[2020-09-09 09:14] philipianpearce commented on #626
This plugin uses 'fork()' which does not work well in a large multi-threaded program like e2g.    (Can cause unpredictable crashes).
On a small scale system (home user) it may work ok, but not recommended for larger scale systems.  (The more active threads, the more likely a crash is).

This the reason why we do not currently support the email option as this also uses fork().

I have added a warni

[2020-09-09 09:39] philipianpearce commented on #624
Using 'now' as start date would be problem for large systems using arrays of e2g as clients would get different certs for the same site and will object.

A better option may be to set start_date to 1st January 00:01 of current year and lifetime to +390 days and use the start date as part of the hash to create the serial no.  This would automatically make sure that the up-to-date cert is used.  I w

[2020-09-09 09:43] philipianpearce opened #631 "Change method of generating Certificate dates and serial numbers"
Update certificate generation.  Possibly set start_date to 1st January 00:01 of current year and lifetime to +390 days and use the start date as part of the hash to create the serial no. This would automatically make sure that the up-to-date cert is used.  See #624.   For implementation in v5.5.    _AfterNote missed for v5.5 - will do in v5.6.dev_

[2020-09-09 09:49] philipianpearce commented on #624
I have opened a separate issue to progress this #631 and so will close this one.

[2020-09-09 09:49] #624 closed, assigned to philipianpearce

[2020-09-09 09:55] philipianpearce commented on #622
@Dalacor

There is a mimetype field (which now works in the latest v5.4.dev and v5.5.dev - see #628).
Is that what you need? Or do you need the passed filename with extention?

[2020-09-09 09:59] philipianpearce commented on #593
No activity - Closed

[2020-09-09 09:59] #593 closed, assigned to nobody

[2020-09-09 10:01] #580 closed, assigned to nobody

[2020-09-09 10:01] Dalacor commented on #622
I will update and see what it shows. Essentially what I noticed is that I could only see a filetype that was blocked by looking at the error message. But there was no record of what filetypes were being downloaded on any network (if the filetype was allowed).

I don't fully understand the difference between mimetype and filetype. for example the wireless access points on one system seem to use the

[2020-09-09 10:02] philipianpearce commented on #584
Closed due to no activity

[2020-09-09 10:02] #584 closed, assigned to nobody

[2020-09-09 10:03] Dalacor commented on #623
Thank you. I will make the necessary changes and see if this works. Would it not make sense to implement this into the default config as you obviously managed to get this to work for all users for Google.

[2020-09-09 10:05] philipianpearce commented on #479
This will now be in v5.5 - work is now in progress!

[2020-09-09 10:08] philipianpearce commented on #458
@Anthony-76

Is this now fixed for you, can I close?

[2020-09-09 10:12] philipianpearce commented on #298
Implemented in v5.5.dev

[2020-09-09 10:12] #298 closed

[2020-09-09 10:17] #264 closed

[2020-09-09 10:19] #235 closed

[2020-09-09 10:21] #626 closed, assigned to philipianpearce

[2020-09-09 10:23] philipianpearce commented on #623
Yes, I will have a look at it.

[2020-09-09 11:24] fredbcode commented on #630
Gitlab-ci is now updated, can you try the latest v5.4.dev package, please ?

[2020-09-09 12:31] sebtombs commented on #630
Sorry - entirely my fault this. Typo in my post above which means the updated service file doesn't parse properly.

Should be
[code]

My apologies.

I have spotted a 5.3.3 being displayed in the latest package though - appears when running dpkg -i

[2020-09-09 12:55] fredbcode commented on #630
Ok new package will be generated, you can follow the process here

https://gitlab.com/fredbcode/e2guardian/-/pipelines

[2020-09-09 13:55] sebtombs commented on #630
Many thanks.

I have confirmed that the new dev package fixes the issue (but still says 5.3.3 in dpkg).

[2020-09-09 15:37] fredbcode commented on #630
I pushed a change, Fixed now ?

[2020-09-09 17:19] sebtombs opened #632 "v5.4 bannedtimelist possibly not working - generates error message on first reload but not subsequent ones"
I believe bannedtimelist is a new group feature in v5.4.

If I uncomment the example configuration and reload the service then I get "Time Tag End Hour over bounds." in syslog. This seems to be the case whatever change I make to the time ranges.

However, if I reload again without changing the file, I don't get the warning (I suspect it only reloads the file if it has changed).

The error message

[2020-09-09 20:33] sebtombs commented on #630
Yes thanks - now says 5.4.3

[2020-09-10 07:06] xes commented on #626
Since latest attacks make great use of pdf injected with code, it would be very important to find a way to discover them with "non-standard" engines.

A few examples:
https://resources.infosecinstitute.com/analyzing-malicious-pdf/
http://blog.didierstevens.com/programs/pdf-tools/
https://sourceforge.net/p/pjscan/home/Home/

In the last months I have discovered a lot examples of pdf with javascript

[2020-09-10 08:02] fredbcode commented on #630
New gitlab pushed on 5.4.dev, 5.5.dev,  5.4

@sebtombs Many thanks for your help

[2020-09-10 08:02] #630 closed, assigned to nobody

[2020-09-11 07:05] philipianpearce commented on #632
The issue appears to be with the example(s) given - 24 is not a valid hour - it should read 23 59 instead of 24 0

I will correct this and add a note that the numbers are 0 based.

[2020-09-11 10:08] sebtombs commented on #632
Thanks

It also appears that the double spaces used in the example to get the columns to line up cause issues - the second line was causing me to get the same error message when I changed the ending time to 15 30, but what seemed to be happening was that the 30 was being parsed as a day number due to a double space earlier in the line. Making all white-space a single space seems to have fixed it (

[2020-09-14 15:04] philipianpearce opened #633 "v5.4 double spaces in time directives being read as two fields"
Issue from #632

[2020-09-14 16:29] philipianpearce commented on #633
Bug fix applied to v5.4.dev

[2020-09-14 16:31] philipianpearce commented on #632
I have put a fix for this in v5.4.dev - double spaces are now treated as a single space.

[2020-09-15 10:33] serlogo53 opened #634 "whatsapp late message or allways connecting..."
hi i am using e2guardian 5.3.4 on pfsense 2.4.4. everything look like good just i have a problem about whatsapp. whatsapp everytime saying connecting or when i send message it's waiting 30-40ms. later it has send. i added whatsapp.net to bypass destination adress. also added 127.0.01 (because in the log everytime 127.0.01 denied writes) after this i didn't see denied on log files. but whatsapp has

[2020-09-26 15:31] philipianpearce commented on #633
Fix applied to v5.5.dev

[2020-09-26 15:34] #556 closed, assigned to fredbcode

[2020-10-07 07:13] Anthony-76 commented on #458
Hi @philipianpearce

Sorry for the delay.
Currently I have no free time to test.
In my last comment, it was not fixed.

I will try to test as soon as possible.

[2020-10-07 15:06] puppetmaster opened #638 "E2 + Squid + NTLM + sslreplace"
We use E2 5.3.4, with Squid 4.10 on ubuntu 20.04.
Our configuration uses the proxy-ntlm plugin for auth (yes I know it's bad...).

We noticed, youtube and google safesearch were not forced anymore, so we went in a journey to find the cause of this... because it's kind of important.

To clear the air, we tried with the default configuration provided by the project, uncomment somme lines in lists an

[2020-10-07 17:53] fredbcode commented on #638
To be honest, I have not checked the code recently and perhaps there is a bug here.
But for ntlm my advice is using icap mode, and I think that this part of code should be removed from e2

With icap Kerberos/e2 are working now, ntlm is practically deprecated

[2020-10-12 15:56] #616 closed, assigned to philipianpearce

[2020-10-12 16:01] philipianpearce opened #639 "v5.4.3 e2g crashing with IP auth and https transparent"
IP auth works ok in proxy mode but causes crash in HTTPS transparent mode

[2020-10-13 10:04] philipianpearce opened #640 "v5.4.3 Only 159MB of large trusted downloads working"
Download stops at 159MB on some large trusted downloads (also affects v5.5, and may be in previous versions)

[2020-10-13 16:19] philipianpearce commented on #639
Fixed in v5.4.dev and v5.5.dev

[2020-10-13 16:19] #639 closed, assigned to philipianpearce

[2020-10-23 14:02] philipianpearce opened #641 "v5.4 IP not assigned to group if ipmap list is not in accending order"
Also, affects v5.5

[2020-10-23 14:14] philipianpearce commented on #641
fixed in v5.4.dev and v5.5.dev

[2020-10-28 13:06] kurtnordstrom commented on #547
This was the magic solution for my Raspberry Pi.  I wish I'd found this earlier!

[2020-10-29 13:55] fredbcode commented on #547
That should not be happening with the latest package

[2020-10-29 14:06] fredbcode commented on #547
https://e2guardian.numsys.eu you should make a try with v5.4 branch

The "trick" to update beyond 200 is in systemd https://github.com/e2guardian/e2guardian/blob/v5.4/data/scripts/e2guardian.service.in

[2020-10-30 13:48] puppetmaster commented on #638
I moved to icap mode, and the result is the same.
My lists are up to date with the provided exemples from source code but youtube is not forced in safemode when authentication is enabled. I'm still exploring logs to understand what is going on.

Some documentation would be nice.

[2020-10-30 13:56] fredbcode commented on #638
Weird, with icap the authentication methods is totally unknown to e2

Works well with icap off in squid.conf ?

[2020-10-30 14:20] puppetmaster commented on #638
If e2guardian is frontal, without auth, it works.
The weirdest is this :
[code]

And in my browser ... youtube or google are not in safemode at all.

[2020-10-30 15:06] fredbcode commented on #638
Hum, maybe I don't understand something, with icap e2guardian can't be in frontal, or there is something wrong in your configuration ?

Only squid must be in frontal, squid is the front and _also _ the out

Example here:
https://support.olfeo.com/sites/olfeo/files/support/v595/fr/integration_guide/webhelp/Guide_integration/images/Integration_couplage_squid_icap.png
(from Olfeo)

Squid works alone

[2020-10-30 15:10] puppetmaster commented on #638
I have tried the two modes, without icap (e2 frontal) with icap squid frontal. So I don't think my configuration is the issue on this part.

With e2 in frontal without icap, the safe mode works, with icap squid frontal, the e2 logs says URLMOD but youtube and google are not in safe mode.

I will try the options of your exemple. Thx

[2020-10-30 15:17] fredbcode commented on #638
OK

Are you using sslbump or sslmitm ?

[2020-10-30 15:24] puppetmaster commented on #638
none, Yes I know ...

[2020-10-30 15:28] fredbcode commented on #638
Ah ! So it can't works with icap because e2 can't modify a protected requests

[2020-10-30 15:34] puppetmaster commented on #638
Thank you fredbcode, it finaly make sense !

[2020-10-30 15:43] fredbcode commented on #638
To be honest I'm surprised that sslreplace works without sslmitm in front :-)

I will discuss with Philip about that, I'm no longer close to e2guardian project now, so I'm helping just with my poor memory ...

Si j'ai le courage j’installerai une maquette pour tester.

[2020-11-02 10:08] fredbcode commented on #638
Can you try the latest 5.4.dev version ? there are a lot of fixes not directly related with NTLM but ...
I have put in place automatic build, here: https://e2guardian.numsys.eu

[2020-11-02 11:37] philipianpearce commented on #638
Just to clarify, it is not possible for sslreplace to work when using a pass-though auth method (squid auth behind e2g).
This is why - sslreplace works by changing the CONNECT request to squid (or connect to site in direct mode) and is in the per-group rules.   When using pass-through auth the CONNECT call has to be made earlier to squid in order to determine the user/group. The group is not known

[2020-11-02 16:00] philipianpearce opened #642 "v5.4 sslreplace not working in ICAP mode"
Raised from #638.    sslreplace is set in storyboard trace but not actioned in ICAP mode.

[2020-11-02 16:06] philipianpearce commented on #642
@puppetmaster

Can you try latest v5.4.dev?  I have pushed a fix for this in ICAP mode.

Philip

[2020-11-02 16:09] philipianpearce opened #643 "v5.3 sslreplace not working when backend proxy-auth enabled"
Referred from #638

[2020-11-02 16:16] philipianpearce commented on #643
It is not possible for sslreplace to work when using a pass-though auth method (squid auth behind e2g).

This is why - sslreplace works by changing the CONNECT request to squid (or connect to site in direct mode) and is in the per-group rules. When using pass-through auth the CONNECT call has to be made earlier to squid in order to determine the user/group. The group is not known until after the C

[2020-11-02 16:18] #632 closed, assigned to philipianpearce

[2020-11-02 16:19] #641 closed, assigned to philipianpearce

[2020-11-02 16:19] #640 closed, assigned to philipianpearce

[2020-11-02 16:21] #633 closed, assigned to philipianpearce

[2020-11-02 16:26] #568 closed, assigned to nobody

[2020-11-06 14:00] puppetmaster commented on #642
Yes I can, I will build it now and try this afternoon.

[2020-11-06 14:38] puppetmaster commented on #642
I suppose I have to enable sslbump or MITM support ?

At this point with default configuration without sslbump or MITM still don't work for me. Youtube is not in safemode.

[2020-11-06 14:46] puppetmaster opened #644 "v5.3 Squid + e2 icap mode and username"
We have a "moderation" mode filter to warn user is about to enter a filtered site but provides a link to bypass and consult anyway.
The thing is, this mode won't work any more with version 5.3.

To do so, we ave a filtering policy and we affect it by user, by adding lines to a filtergroupslist, like
[code]
With this version the user is never redirected to the "moderation" template with the bypass

[2020-11-06 14:54] fredbcode commented on #642
No SSLMITM is not needed in this specific case

You can try with ICAP

You can also take a look here https://e2guardian.numsys.eu v5.4.dev for
packages

[2020-11-06 15:01] fredbcode commented on #644
I personally tested this case with success (without NTLM), how did you manage HTTPS websites in moderation list before ?

[2020-11-13 23:24] rustomr opened #645 "Network error when downloading"
Hi,

  I'm just new in using e2guardian and having a problem in downloading files. Im using default download manager and i dont have enabled AV scan.

 I've been working on this for more than a week and already saw some guide in here but i have no idea how to apply this fixes. PLEASE HELP

![image](https://user-images.githubusercontent.com/74435758/99130074-4f9c2280-264a-11eb-9518-e1630eae574b.png

[2020-11-15 15:34] fredbcode commented on #645
Which version ? Some logs ?

[2020-11-16 12:58] philipianpearce commented on #491
Secure proxy has now been added to v5.5.dev,

[2020-11-16 14:38] shrimpgo opened #646 "Big filtergroupslist crashes e2guardian - 5.4.dev"
Hi, folks!

I've testing `5.4.dev` version, trying to use with new configuration mode. Everything is working well since then, except filtergroupslist. By inserting a few users into list, works fine, but when I insert a lot of users into it, gives me *Segmentation fault* (both reload or restart action). My list has 1077 lines (or users) and I thought that bug was related with some not human-readabl

[2020-11-16 16:28] philipianpearce commented on #646
I have posted a possible fix to latest v5.4.dev.

Please try and let me know if it fixes the problem.

Philip

[2020-11-16 18:44] shrimpgo commented on #646
Sorry, Philip, but it didn't work... Same result *Segmentation fault*.

[2020-11-17 09:04] philipianpearce commented on #646
OK, just to check:-

When does it crash on start-up/restart or on first request?

Crashes when filtergroupslist has more than 16 entries?

What auth plugin are you using?

I will try on my test rig and see if I can replicate.

Philip
----- Original Message -----

[2020-11-17 12:07] philipianpearce commented on #646
I have replicated and have fixed the problem in latest v5.4.dev, which was due to error in sort operator definitions.

Many thanks for reporting this issue.

Regards
Philip

[2020-11-17 15:32] yuriang85 opened #647 "How can I block all traffic to a filtered group?"
I need to block all traffic to a filtered group of users. for example.
In dansguardian using bannedurllist and bannedsitelist with '**' or '** s'.
Please someone who can help me.

[2020-11-18 14:23] #618 closed, assigned to philipianpearce

[2020-11-18 14:28] philipianpearce commented on #600
hook_ functions have been added to common.story in v5.4.dev.

Documentation needs adding.

[2020-11-19 21:49] shrimpgo commented on #646
@philipianpearce I've tested the latest version v5.4.dev and now it works like a charm. Thanks for the fix and sorry for took so long to test again.

[2020-11-23 17:31] #646 closed, assigned to philipianpearce

[2020-11-26 15:08] alb-coder opened #651 "e2guardian / squid / auth bypass"
Hi,

I'm using e2guardian in front of squid + NTLM Auth. Works fine so far.

When I make certain websites accessible without user/pass (acl in squid)
e2 denies access without showing a username in the error page. Logfile
shows "*DENIED* Proxy authentication error".

Versions: e2guardian 5.3.4 and squid 4.13

[2020-11-30 23:47] dgriswo opened #652 "Package link in release changelog returns a 404."
"Packages for Debian/Ubuntu: https://gitlab.com/fredbcode/e2guardian/tree/packages/"

URL returns a 404 error.

[2020-12-01 08:52] fredbcode commented on #652
Thanks, fixed

[2020-12-01 08:52] #652 closed, assigned to nobody

[2020-12-11 09:53] puppetmaster commented on #642
Sorry, for the delay.

I have tested this package : https://e2guardian.numsys.eu/v5.4.dev/e2ubuntu_focal_V5.4.3_20201124.deb

Is this the version in need of testing ?

sslreplace don't work for me.

The logs :
[code]

Produces :

![shot-2020-12-11_10-56-50](https://user-images.githubusercontent.com/101515/101889449-b2c49a80-3b9f-11eb-9cb8-48355afb9742.jpg)

[2020-12-17 19:08] meyertime opened #654 "WebSocket support"
First of all, thanks for maintaining this internet filter.  I am using it on my kids' laptops.

Long story short, I cannot figure out how to get WebSocket connections to work through the proxy.  It's preventing the kids from getting on their Blackboard Collaborate lab sessions for school.  My search included e2guardian, squid, and dansguardian, and I wasn't able to find anything.  Maybe it's just

[2020-12-20 02:18] Neustradamus opened #655 "Add httpS and redirect all http to httpS"
The website is not secure:
- http://e2guardian.org/
- http://www.e2guardian.org/

Can you add:
- https://e2guardian.org/

And add all automatic page redirections:
- http://e2guardian.org/ -> https://e2guardian.org/
- http://www.e2guardian.org/ -> https://e2guardian.org/
- https://www.e2guardian.org/ -> https://e2guardian.org/

Note: https://dropwww.com/

[2020-12-21 17:33] mcgrete opened #656 "refererexceptionsitelist - not working in 5.4.2r"
Hi.

I am using e2g v5.4.2r (e2ubuntu_focal_V5.4.2r_20201023.deb), Lbuntu 20.04; I have made only minor edits of default storyboards & lists, using default group.

I have found an earlier issue that is identical to my issue, which apparently was resolved: #493.  Unfortunately, I can not demonstrate success with 5.4.2r.  I examined the default (new after install) common.story file and it has the re

[2020-12-29 13:08] philipianpearce commented on #656
Are you using MITM for https sites?

Refererexception  can only work on https sites if MITM is used, as the RefererL header is an html header and thus is sent encrypted and not readable by e2g unless MITM is deployed.

[2020-12-29 16:41] philipianpearce commented on #642
I have replicated this issue and have further corrected the code so that e2g now gives correct output to squid in icap mode.
However, in my test system, squid does not act on the change to the CONNECT site correctly and we are still getting the same error returned to the browser.

So, e2g in reqmod now works as expected, but squid appears to ignore it.

As this is the case I have commented out the

[2020-12-29 23:19] mcgrete commented on #656
Thanks Phil; got your instructions on another response to a similar post.

On Tue, Dec 29, 2020 at 7:08 AM Philip Pearce <notifications@github.com>
wrote:

[2021-01-05 17:04] #643 closed, assigned to philipianpearce

[2021-01-07 11:17] marcuskong opened #658 "Category: N/A Banned User"
I use V5.3.1 and always get error message "Category: N/A   Banned User" . How to configure the correct settting ?

[2021-01-12 08:22] uwedisch opened #659 "Documentation about Networking Options missing"
It would be very helpful to have some documentation about the networking options someone has with E2Guardian.

Before using E2Guardian and doing system design some questions arise and for example I found no answer to the next ones:
- Option for incoming (bind/listen) interface
- Option for outgoing interface (is it possible to use other interface for internet traffic than default route?)
- Can E2G

[2021-01-12 10:27] philipianpearce commented on #659
Which version are you looking at?

A lot of work has been done on documentation in v5.4 and this work is continuing with both 5.4 and 5.5.

There is a NETWORK section in the example e2guardian.conf which describes all the options, including those for incoming ip/ports.  https://github.com/e2guardian/e2guardian/blob/v5.4.dev/configs/e2guardian.conf.in

"Option for incoming (bind/listen) interface
O

[2021-01-12 10:42] philipianpearce commented on #658
This issue-tracker is for bug fix requests and enhancement suggestions.

For community support please join the e2guardian google group - #21

[2021-01-12 10:42] #658 closed, assigned to nobody

[2021-01-12 13:44] uwedisch commented on #659
OK, thank you.

So, it seems that an option similar to `tcp_outgoing_address` of Squid or `Bind` of Tinyproxy is not implemented.

[2021-01-30 14:22] KDGundermann opened #660 "tail -f /var/log/access.log lags behind"
When you are accessing a web site and want to see which entries are generated in the access.log you will notice that the output in access.log will lag behind.

This is due that linux usually buffers the output written to a file. On ubuntu linux the buffer size is 8k, so only after there were 8k written to the access log, which are about 100 entries, the buffer will be flushed to disk.

I propose t

[2021-01-31 12:30] rafalj4 commented on #559
The same issue occured on MacOS 10.13. Version 5.3.4 is affected.
Below output from make

FatController.cpp:1751:14: error: use of undeclared identifier 'sigtimedwait'
        rc = sigtimedwait(&signal_set, NULL, &timeout);
             ^
1 error generated.

[2021-01-31 12:45] rafalj4 opened #662 "v5.3 MacOS 10.13 does not support sigtimedwait()"
The same issue like #559 occured on MacOS 10.13. Version 5.3 and  5.3.4 e2guardian is affected.
Below output from make

FatController.cpp:1751:14: error: use of undeclared identifier 'sigtimedwait'
rc = sigtimedwait(&signal_set, NULL, &timeout);
^
1 error generated.

[2021-01-31 12:50] rafalj4 commented on #662
Some information about sigtimedwait - https://www.gnu.org/software/gnulib/manual/html_node/sigtimedwait.html

[2021-02-01 13:02] philipianpearce commented on #662
Yes, I'm aware of the info on sigtimedwait.

I am only able to support Linux, and others support the FreeBSD version used in pfsense.   And the design aim in the development of v5 was support Linux and FreeBSD.   If anyone who is expert in MacOS development wishes to port e2g that would be great, and we would then incorporate conditional code as required.

Ok, then can you have a look at the code,

[2021-02-01 13:18] rafalj4 commented on #662
I am not a developer so I wan't be able to fix this by myself. I did simlple copy/replace of code for OpenBSD fix but with no success. Errors was generated

FatController.cpp:1750:17: error: no member named 'it_value' in 'timespec'
        timeout.it_value.tv_sec = 5;
[code]

[2021-02-01 13:21] philipianpearce commented on #662
I will review the INSTALL document.   Thanks for reporting this!

[2021-02-02 20:27] kisisten opened #663 "Unable to build latest version on openwrt mips"
Hi guys, I'm unable to run configure on openwrt, please see attached config.log.
Thanks.
[config.log](https://github.com/e2guardian/e2guardian/files/5914266/config.log)

[2021-02-03 05:59] KDGundermann commented on #663
the last message I see is:

    configure:5852: checking for gzdopen in -lz
    configure:5877: g++ -o conftest -g -O2   conftest.cpp -lz  -lz  >&5
    /tmp/ccCeoKEh.o: In function `main':
    /home/lamer/e2guardian-5.3/conftest.cpp:56: undefined reference to `gzdopen'
    ....
    configure:5892: error: no zlib!

[2021-02-03 19:41] kisisten commented on #663
On Tuesday, February 2, 2021 10:00:11 PM PST Klaus wrote:

Hi Klaus, I do have zlib packages installed:

zlib - 1.2.11-3
zlib-dev - 1.2.11-3
autogen finishes successfully.
Am I missing some other parameters?

Thanks.

[2021-02-04 00:01] kisisten commented on #663
On Tuesday, February 2, 2021 10:00:11 PM PST Klaus wrote:

This seems to be the way zlib is used static vs dynamic.
I was able to move a bit forward by adding "--enable-static-zlib=yes" to the configure command.
This issue can be closed.
Thank you.

[2021-02-09 15:39] fredbcode commented on #660
Also, HTTPS entries are not logged immediately because there is a lag from server response because of tunneling

Eg: With a proxy as Squid, if you look at access.log you can see immediately lines for all HTTP requests, and wait a little moment for HTTPS, worst there is not a line for each requests because of tunneling

[2021-02-10 09:09] KDGundermann commented on #660
Hi Fred,
yes, there is a delay for HTTPS request, but my pull request is specifically for the delay introduced by the 8k buffer size when writing the log data to a file.

[2021-02-10 09:33] philipianpearce commented on #660
Hi,

The delay in squid for https logging (and for non-MITM https in e2g) is due to browsers holding https connections open for long periods. The entry will be logged only when the connection is closed.

This was one of the reasons why a request.log is now an option in e2g so that these can be traced if needed.

Klaus,

I'm aware of your pull request - It is a good idea - I'll look at it in detail

[2021-02-20 16:45] philipianpearce opened #664 "v5.4 with dnsauth enabled e2g seq faults on first login"
Issue only affects 5.4.3 - not present in v5.5.dev

[2021-02-20 16:50] philipianpearce commented on #664
Fixed in v5.4.dev

[2021-02-20 16:50] #664 closed, assigned to philipianpearce

[2021-02-24 14:15] brunolorente opened #665 "Several errors but still running"
Hi,

First of all, I'm a newbie on e2guardian, I used to use dansguardian.

I've already installed and running e2guardian + Squid setup but several (and painful) messages are droped into syslog or journalctl on every e2guardian restart, here the journalctl -fu trace:

`feb 24 14:57:34 srv01 e2guardian[134226]: master: Stopping
feb 24 14:57:34 srv01 systemd[1]: Stopping E2guardian Web filtering...

[2021-02-24 14:15] brunolorente commented on #665
ii  e2guardian     5.3.4-1      amd64        Web content filtering (Dansguardian fork)

[2021-02-24 14:16] brunolorente commented on #665
ii  squid          4.10-1ubuntu1.2 amd64        Full featured Web Proxy cache (HTTP proxy)

[2021-02-24 15:39] KDGundermann commented on #665
Hi Bruno,

e2guardian v5 has some "Config" files, which references to some "List" files, which do not exists on your system. e.g.:

`Error reading file '/etc/e2guardian/lists/exceptioniplist: No such file or directory `

You may either create an empty list file or remove the entry from the configfile e2guardian.conf/e2guardianf?.conf

[2021-02-25 09:21] brunolorente commented on #665
Hi @KDGundermann, thanks for your fast reply.

These files already exists on my system, because of this i'm confused with those errors. Below, all the files under the /ect/e2guardian/lists/:

`root@srv0:/etc/e2guardian/lists# ls -lha
total 384K
drwxr-x---  6 e2guardian root 4,0K feb 25 10:00 .
drwxr-x---  8 e2guardian root 4,0K feb 25 10:00 ..
-rwxr-x---  1 e2guardian root  734 feb 15  2020 addhea

[2021-02-25 09:37] philipianpearce opened #666 "v5.4 port absent in 'flags' when in transparent mode"
With transparent mode port_no and following ":' are not present in "flags" log field

[2021-02-25 09:53] philipianpearce opened #667 "v5.4 e2g loops when 'transparent' traffic is re-routed to e2g listening ip/port"
e2g loops and httpworkers go to max when 'transparent' traffic is re-routed to e2g listening ip/port when useoriginalip is 'on'.

Example: pfsense firewall re-routes port 80 traffic from a guest sub-net to e2g (Linux) port 8080.   The original ip and port will then be detected as 'e2g_listening_ip':8080 and a infinite loop formed.

e2g as currently designed, should always be in the gateway path fo

[2021-02-25 10:16] KDGundermann commented on #665
have you checked as which user the e2guardian process is running?

[2021-02-25 10:25] fredbcode commented on #665
You can also test with our "official" packages

https://e2guardian.numsys.eu

[2021-02-25 10:31] fredbcode commented on #665
Or

Check your user and group in your configuration files https://github.com/e2guardian/e2guardian/blob/v5.3/configs/e2guardian.conf.in#L611

chown -R e2user:e2group /etc/e2guardian

find /etc/e2guardian -type d -exec chmod 750 {} \+
find /etc/e2guardian -type f -exec chmod 640 {} \+

[2021-02-25 12:36] brunolorente commented on #665
The service is running with e2guardian user, so:
`chown e2guardian:e2guardian /etc/e2guardian
find /etc/e2guardian -type d -exec chmod 750 {} +
find /etc/e2guardian -type f -exec chmod 640 {} +`

Still happenning the same issues, on the other hand installing https://e2guardian.numsys.eu/v5.4/e2ubuntu_focal_V5.4.2r_20201023.deb preserving the old config seems to be the same behavior.

For the daemo

[2021-02-25 13:23] fredbcode commented on #665
Did you try with the package config files (e2ubuntu_focal_V5.4.2r_20201023.deb) ? With /etc/e2guardian directory removed first ?

[2021-02-25 14:07] Josephat90 commented on #665
Good day, Mr. Fred
Is it mandatory to run e2guardian with squid or can  I run e2guardian without squid?

[2021-02-25 15:20] KDGundermann commented on #665
@Josephat90 you can run e2guardian without squid

[2021-02-25 15:25] fredbcode commented on #665
Hi, Yes you can but with some limitation like identification,  please ask your question on https://groups.google.com/forum/#!forum/e2guardian

[2021-02-26 17:22] philipianpearce commented on #667
Fixed in v5.4.dev - however checkip must be defined for all listening ports to be effective

[2021-02-26 17:22] #667 closed, assigned to philipianpearce

[2021-02-26 17:23] philipianpearce commented on #666
Fixed in v5.4.dev and v5.5.dev

[2021-02-26 17:23] #666 closed, assigned to philipianpearce

[2021-02-26 17:26] #662 closed, assigned to nobody

[2021-03-14 04:18] takelley1 opened #669 "Build error on FreeBSD 12.2"
Using HEAD on branch v5.3
Here's the output from running `./configure` on FreeBSD 12.2:
[code]

If I remove line 6948 in `configure`, I get the following output (the beginning is the same as above):
[code]
Finally, if I remove line 7645 in `configure`, the script completes successfully.

[2021-03-15 10:28] philipianpearce opened #670 "v5.4 request log not being written to"
Request log is created but not written to.

[2021-03-15 10:49] philipianpearce commented on #670
Bug came about by revised timing logging correction

[2021-03-15 10:49] #670 closed, assigned to philipianpearce

[2021-03-15 10:52] philipianpearce commented on #659
That is correct.    If it is required then I will add to the 'wishlist' for future versions.

[2021-03-15 10:52] #659 closed, assigned to nobody

[2021-03-15 11:41] philipianpearce commented on #655
Thanks for this - I'll ask the support team who look after the hosting of our sites to look at this.

This is not a e2g development issue. So closed.

[2021-03-15 11:41] #655 closed, assigned to nobody

[2021-03-15 11:42] #656 closed, assigned to nobody

[2021-03-15 11:50] philipianpearce commented on #647
See  https://github.com/e2guardian/e2guardian/blob/v5.4/configs/examplef1.story.in

Also #21

[2021-03-15 11:50] #647 closed, assigned to nobody

[2021-03-15 11:52] #642 closed, assigned to philipianpearce

[2021-03-15 12:40] philipianpearce commented on #654
Sorry for the delay in responding.    I was waiting until I have some time to research this, but have not found the time.

My understanding is that websockets will work via an explicit proxy by doing a CONNECT call to the server. Is this correct?      Adding a site to siteexceptionlist should then allow it through.

We would welcome your help with this. The best code to work with is v5.5.dev as th

[2021-03-15 12:46] philipianpearce commented on #654
Also, versions prior to v5.5 used a simplex tunneling method, which will be fine for http traffic, but may cause issues with other protocols.    In v5.5 this is replaced with a fully duplex non-blocking tunneling method which you may find performs better.

[2021-03-15 15:59] #508 closed, assigned to nobody

[2021-03-15 16:00] #560 closed, assigned to fredbcode

[2021-03-15 16:02] #458 closed, assigned to philipianpearce

[2021-03-15 16:12] philipianpearce commented on #651
This is just one of the problems with NTLM auth with e2g in front of squid.

Suggest you use squid in front of e2g with latest version v5.4.  See https://github.com/e2guardian/e2guardian/issues/638#issuecomment-720418584

[2021-03-15 16:12] #651 closed, assigned to nobody

[2021-03-15 16:13] philipianpearce commented on #645
no activity - closed

[2021-03-15 16:13] #645 closed, assigned to nobody

[2021-03-15 16:15] #638 closed, assigned to nobody

[2021-03-15 16:20] #619 closed, assigned to philipianpearce

[2021-03-15 16:21] #615 closed, assigned to nobody

[2021-03-15 16:42] meyertime commented on #654
Thanks for the response!

WebSocket works a little differently.  It starts with a normal HTTP request and response, after which the connection is left open for socket style communication.  It takes advantage of the `Upgrade` header which has been there since HTTP/1.1 in order to traverse old hardware and software.  [The Wikipedia article](https://en.wikipedia.org/wiki/WebSocket) has a good example

[2021-03-15 20:05] rickprice opened #671 "Is it possible to test headers for banned words"
I'm having an issue with YouTube where its passing its query via the Referer Header, I would like to take the query value from the header, and add it to what is being tested for illegal words...

I am okay with writing a Regex to accomplish this, but how would I go about doing that?

Referer: https://www.youtube.com/results?search_query=zombie

[2021-03-18 10:08] brunolorente commented on #665
Hi again @KDGundermann @fredbcode, still the same problem. Did you see some mess in https://pastebin.com/KkxPepQ4?
hmmm could be squid being the source problem?

[2021-03-18 10:12] fredbcode commented on #665
Did you see my answer about install without previous config files ?

Remove /etc/e2guardian and try latest 5.4 package

[2021-03-18 12:13] philipianpearce opened #672 "v5.4 - Status page not showing when certificate error found"
v5.4 - Status page not showing when certificate error found.   Logging is working correctly.

[2021-03-18 12:22] philipianpearce commented on #672
Fixed in v5.4.dev and v5.5.dev

[2021-03-18 12:22] #672 closed, assigned to philipianpearce

[2021-04-10 04:49] takelley1 opened #673 "`Error opening ${prefix}/etc/e2guardian/e2guardian.conf` on v5.4"
I receive the above error when running E2G on the new v5.4 branch. This error does not occur on the v5.3 branch.

OS: Ubuntu 20.10
Build options: `--enable-sslmitm=yes`
Commit: 3ce57b50c9754bca39fabd1eaa1b69f0bbe223f9 (grafted, HEAD -> v5.4, tag: v5.4.3r, origin/v5)

Here's the output of `strace e2guardian`:
[code]

[2021-04-10 16:22] fredbcode commented on #673
Which options for configure ?
--
Envoyé de mon appareil Android avec Courriel K-9 Mail. Veuillez excuser ma brièveté.

[2021-04-10 22:12] takelley1 commented on #673
Here's the output of `config.log`

[code]

[2021-04-13 14:03] philipianpearce opened #674 "v5.4 Messages and categories set in pre-auth.story blanked at auth stage"
Site/urls blocked at pre-auth.story stage losing messages and category at auth stage.  Still blocked with no supporting message in block page or logs.

[2021-04-13 14:07] #674 closed, assigned to philipianpearce

[2021-04-14 14:15] philipianpearce opened #675 "v5.4 Logs user, url being anonimised at random, messages in storyboard no longer being honoured"
Fault occurs as a result of attempted fix to #674

[2021-04-15 14:41] philipianpearce commented on #675
Fixed in v5.4 branch

[2021-04-15 14:41] #675 closed, assigned to philipianpearce

[2021-04-16 10:14] fredbcode opened #676 "External commands (eg reload) with v5.4 are broken in Docker"
With v5.4 and e2guardian -N

get_pid() is not working

e2guardian -r
No e2guardian process found.

 e2guardian -s
No e2guardian process found.

[code]

[2021-04-16 10:37] fredbcode commented on #676
Tested only with: e2guardian -N

[2021-04-18 09:54] moosty-moo opened #677 "exceptionfile test in wrong place? ( 5.4.3r)"
I can't get the exceptionfile ( exception for file extensions per site ) to work in version 5.4.3r

In function "checkrequest" the line:
ifnot(greyset) returnif bannedcheck
always blocks a file exension even if the site domain is in the "exceptionfile"

It looks like the exceptionfile check is in the "checkresponse" function when it should be tested in checkrequest
if(urlin,exceptionfile) return f

[2021-04-18 10:44] moosty-moo commented on #677
Just had another look. Instead of what I did above. How's about just modifying bannedcheck?
I'm probably doing this all wrong, but it seems to work.

function(bannedcheck)
if(true) returnif checkblanketblock
if(urlin, banned) return setblock
if(true) fileexception  <-----  is there a file exception?
ifnot(returnset) returnif fileban  < -----  if not, then check for banned file extensions.
#if(urli

[2021-04-19 13:29] philipianpearce opened #678 "v5.4 e2guardian -N reloads instead of stops with e2guardian -q"
v5.4 e2guardian -N reloads instead of stops with e2guardian -q

Found while investigating  #676

[2021-04-19 13:31] #678 closed, assigned to philipianpearce

[2021-04-19 13:40] philipianpearce commented on #676
I was not able to fully replicate this issue. I only found #678.   Other signal functions worked ok for me.

Is this a file/directory permission problem??

[2021-04-19 14:42] fredbcode commented on #676
Maybe but there is nothing obvious for me

[code]

[2021-04-19 15:10] philipianpearce commented on #676
Fred,

When you run e2guardian -N and the other commands are you doing this as root or as e2guardian user?

Philip
----- Original Message -----

[2021-04-19 15:15] fredbcode commented on #676
As e2guardian

More details here:
https://github.com/e2guardian/e2guardian/blob/v5.4-test/gitlabci/docker-ci/Dockerfile

[2021-04-19 15:38] fredbcode commented on #676
docker pull fredbcode/e2guardian:v5.4-test if needed

[2021-04-20 06:55] fredbcode commented on #676
strace

``
read(3, "", 8191)                       = 0
close(3)                                = 0
openat(AT_FDCWD, "/run/e2guardian/e2.pid", O_RDONLY) = 3
read(3, "1\n", 31)                      = 2
close(3)                                = 0
write(2, "No e2guardian process found.", 28No e2guardian process found.) = 28
write(2, "\n", 1
)                       = 1
exit_group(1)
[code]
root@5972e02

[2021-04-20 07:12] fredbcode commented on #676
Ok I found something

pid  < 6 = error

Reproduce easily with

[code]

[code]

[2021-04-20 09:00] philipianpearce commented on #676
Can you try latest?

Problem seems to be that Docker is using pid 1 for e2g.   In Linux/BSD pid 1 is reserved for init process so is illegal.

I've now added a conditional check so that pid 1 is allowed when "dockermode" is enabled.

Can you see if that fixes it?

[2021-04-20 09:40] fredbcode commented on #676
Same issue, be careful the limit is 5 not just 1, with 6 it works

1,2,3,4,5 -> No process e2guardian found
6,7,8, etc -> ok

FI, process with docker can be 1 but also another, in my case yes it's 1

[2021-04-20 09:52] fredbcode commented on #676
With strace I'm seeing there is no Kill test 0 in the issue case (1..5)

You can "test" with  echo 6 > /path/e2.pid

[2021-04-20 09:53] philipianpearce commented on #676
There is something odd happening here - there is no exclusion of id less than 6 in e2g code - it must be something to do with how pids are handled in Docker.

Also, adding id above 5 to e2.pid manually should not work as this is not the pid of e2g (1).  So it may say OK but it reporting/killing another process and not e2g!

[2021-04-20 09:56] fredbcode commented on #676
Of course it didn't works, just the returns from e2 is an error message in this this case and not beyond 5

Do you have e2 on physical machine for testing this ?

[2021-04-20 10:05] philipianpearce commented on #676
Yes, I have tested on a physical machine and all works OK.

It looks as if Docker reserves pid 1-5 and does not allow the system kill() call to them. i.e. It will not allow a kill (even a NOOP signal) to the container id.

This issue with Docker would be in previous versions too.

Looking at Docker site - would not a better approach with Docker be to send the signal to the Docker container with th

[2021-04-20 10:11] fredbcode commented on #676
I should see a kill call with strace, no ?

Maybe we could generated a number beyond 5, when we are in docker mode ? in sysv_writetpidefile ?

[2021-04-20 10:14] fredbcode commented on #676
Ah, of course not

[2021-04-20 10:33] fredbcode commented on #676
Philip I found a solution, I'm using "init" flag and now my process is ...
6 !

_The container’s main process is responsible for managing all processes that it starts. In some cases, the main process isn’t well-designed, and doesn’t handle “reaping” (stopping) child processes gracefully when the container exits. If your process falls into this category, you can use the --init option when you run t

[2021-04-20 10:36] fredbcode commented on #676
There is now a public docker image, I updated the release note

https://hub.docker.com/r/fredbcode/e2guardian

[2021-04-20 10:45] philipianpearce commented on #676
That is great!

OK to close?

[2021-04-20 11:23] fredbcode commented on #676
Yep

[2021-04-20 11:23] #676 closed, assigned to philipianpearce

[2021-04-20 11:28] #644 closed, assigned to nobody

[2021-04-20 11:30] fredbcode commented on #676
Hum, maybe we should remove your commit ?

[2021-04-20 17:27] rdpmc opened #679 "SQUID+ICAP protocol error / timeout/no response: out_res_body_flag was not reseted."
I have the  problem with e2g 5.5.0 and squid 4.13 (sslbump + interception), both on the same machine.

After a few minutes from starting browsing the internet Squid slows down and finally there is a message
------------------------------------------
    ICAP protocol error.
    The system returned: [No Error]
     This means that some aspect of the ICAP communication failed.

I've found that flags

[2021-04-21 11:36] philipianpearce commented on #679
Thanks for reporting this.   I have made code changes to ensure the flags are now both initialized and reset to false in v5.5.dev.    Can you check if this is now ok?
I will also look at v5.4 as I expect the bug was also present in that version.

[2021-04-21 13:37] domanuell commented on #359
Boa tarde Marcelo, estou assistindo a tua aula no sysquad,  acompanhei todos  os passos mais mesmo ela nao registra no Real Time:

![image](https://user-images.githubusercontent.com/47576932/115562982-f5fdeb00-a2ae-11eb-834e-8329a8313e12.png)

estou a atualizar a versão 2.5

[2021-04-21 13:37] domanuell commented on #359
não filtra nada

[2021-04-22 04:09] marcelloc commented on #359
verifica na console se o processo do e2guardian está rodando.
Se estiver, pode ser um processo preso que está impedindo o reload quando você aplica alguma configuração.
Se for este o caso, via console, execute um killall e2guardian e aguarde o watchdog do pacote subir outro processo.

[2021-04-22 05:48] domanuell commented on #359
![image](https://user-images.githubusercontent.com/47576932/115661529-78c98900-a335-11eb-97dc-d31a872c4dcc.png)
![image](https://user-images.githubusercontent.com/47576932/115661779-e83f7880-a335-11eb-8912-0e40425b44fa.png)
![image](https://user-images.githubusercontent.com/47576932/115661838-fe4d3900-a335-11eb-8987-6f28b44e12b0.png)
![image](https://user-images.githubusercontent.com/47576932/1156

[2021-04-22 10:33] maxxer commented on #679
Is there any chance to test using deb packages? I ran into the same yesterday...

[2021-04-22 11:49] ageekhere opened #680 "*DENIED* Failed to negotiate ssl connection to client"
I am getting a lot of *DENIED* Failed to negotiate ssl connection to client

Is there a way to resolve/manage this?

[2021-04-22 13:05] philipianpearce commented on #679
See https://e2guardian.numsys.eu/v5.4/e2debian_buster_V5.4.4_20210421.deb

----- Original Message -----

[2021-04-22 13:51] fredbcode commented on #679
There are also packages for Ubuntu, raspberry (raspbian) and docker images (docker hub).
Links in our GitHub releases page

--
Envoyé de mon appareil Android avec Courriel K-9 Mail. Veuillez excuser ma brièveté.

[2021-04-22 21:31] sv-bio commented on #591
The following worked out for me (provided that bannedphraselist or any other list that contains words to filter is already created; in case of Russian language in three encodings: UTF8, Win1251 and KOI8R):

open e2guardian.conf
Set:
preservecase = 2
hexdecodecontent = on
forcequicksearch = on

save and restart e2guardian.

(more detailed overview (in Russian) is available here: https://interface31

[2021-04-23 07:44] sv-bio commented on #204
I found one solution that works for Russian char sets: see issue #591

[2021-04-24 12:11] ageekhere commented on #680
Turning off negotiate ssl selected in group defaults seems to help now

[2021-04-26 13:59] #677 closed, assigned to nobody

[2021-04-26 14:00] philipianpearce commented on #677
Hi,

Yes, you are along the right lines. I would code it as follows (to reduce the number of functions and lines):

function(bannedcheck)
if(true) returnif checkblanketblock
if(urlin, banned) return setblock
ifnot(urlin,exceptionfile) returnif fileban <--- if not in exceptionfile check fileban
#if(urlin,bannedextension) return setblock <--- removed
if(useragentin, banneduseragent) return setblock

[2021-04-29 08:08] philipianpearce opened #681 "Add status code storyboard check"
New check in order to set the "nolog" feature if the HTTP status code is 404, for example.

Something like:
if( statuscodein, nologstatuslist) setnolog

[2021-05-04 15:35] philipianpearce opened #683 "v5.5 Port limit list not being read in authplugins"
port list ignored in authplugin conf files

[2021-05-04 15:38] #683 closed, assigned to philipianpearce

[2021-05-05 14:48] philipianpearce opened #684 "v5.4 Can crash when only one entry in maplist"
v5.4 Can crash when only one entry in maplist

[2021-05-10 08:55] philipianpearce opened #685 "v5.4 ICAP user never matches when squid sends domain in upper case"
v5.4 ICAP user never matches when squid sends domain in upper case

[2021-05-10 08:58] #685 closed, assigned to philipianpearce

[2021-05-10 09:15] #684 closed, assigned to philipianpearce

[2021-05-10 15:18] philipianpearce opened #686 "v5.4 ICAP default filtergroup not being set"

[2021-05-10 15:19] #686 closed, assigned to philipianpearce

[2021-05-17 16:50] philipianpearce commented on #679
Community group mail indicate this issue is fixed in v5.4.4

[2021-05-17 16:50] #679 closed, assigned to philipianpearce

[2021-05-23 14:44] philipianpearce opened #687 "v5.5 slowness browsing on some sites - tunnel issue"
Some pausing happening when browsing some sites - due to flag issue in FDTunnel giving timeout waits.

[2021-05-23 14:46] #687 closed, assigned to philipianpearce

[2021-05-23 17:25] GHoeher opened #688 "genratedcertend parameter seems to be ignored"
Hi,

I'm facing the issue, that several browsers on Android are claiming that the Certificate validity date is too long (Err_Cert_Validity_too_Long).
So I tried to reduce the validity to one year by using the genratedcertstart (set to todays Unix time value) and genratedcertend (set to unix time one year rom now) parameters in the e2guardian.conf.
Then I cleaned up the generatedcerts folder and tr

[2021-05-23 17:31] GHoeher commented on #688
Issue found - typo in parameter name - used genratedcertend  instead of gen**e**ratedcertend.
Sorry for the confusion.

[2021-05-23 17:31] #688 closed, assigned to nobody

[2021-05-23 23:20] dbrody2004 opened #689 "Hooks"
Not sure the best way to implement this scenario.

When a user goes to a URL, a hook is trigger.  The hook calls an external program which returns whether or not to allow or prevent the url.  The objective is to add an extension that could do things such as implement a deep learning algorithm on content or page url.

I see hooks in the common.story but don't think they could run an external progra

[2021-05-25 09:15] philipianpearce commented on #689
The hooks in common.story are to enable a local variation of logic with storyboarding.

So you would redefine them in site.story or in a filtergroup story in order to extend or vary the library logic.

This will not do what you want as there are no storyboard functions that deal with external filtering.

External filtering can be done using one of the content filter plug-ins. For instance, if you

[2021-05-25 13:22] puppetmaster opened #690 "Requests in logs"
On our e2guardian 5.3.4 configured in pcap mode with squid, allowed http requests are not traced in logs with `loglevel = 3`. The same request with https is traced in logs.

In debug mode the request is processed and traced.

[2021-06-02 09:15] philipianpearce opened #691 "genratedcertend is misspelled in the default config file"
Reported by @irondude.

[2021-06-02 09:25] philipianpearce commented on #690
Can you confirm that you mean ICAP mode (by pcap)??

If it is ICAP then issue is likely to be with squid settings - it is important that e2g is called by both reqmod and respmod for both bumped and non-bumped requests.  Except for where access is denied logging is performed on the respmod call.

[2021-06-02 09:35] philipianpearce commented on #680
These are often caused by apps who are not using the stored root CA. (or where the root CA has not been installed on browser)

If you are using v5.3 then upgrading to v5.4 will reduce the number of these messages.

[2021-06-02 09:36] #680 closed, assigned to nobody

[2021-06-02 15:30] philipianpearce opened #692 "Loop checking does not cater for squid in front"
Loop checking does not cater for squid in front  - need check extra ports feature

[2021-06-02 15:37] philipianpearce commented on #692
Done in latest v5.4

[2021-06-02 15:38] philipianpearce commented on #691
Fixed in v5.4

[2021-06-02 16:42] philipianpearce commented on #692
And in v5.5.dev

[2021-06-02 16:42] #692 closed, assigned to nobody

[2021-06-02 16:42] philipianpearce commented on #691
And in v5.5.dev

[2021-06-02 16:42] #691 closed, assigned to philipianpearce

[2021-06-04 00:59] dbrody2004 commented on #689
We have SSLMITM on and trying to get the full URL from the debug logs, but don't see that.  Is there a way to do that?  For http that seems like it is displayed in the logs.

Trying to figure the best way to design this.

Use case:

1). User goes to https://www.youtube.com/watch?v=xxxxxxx and the URL, in particular the v=xxxxxxx gets passed to an external application.
2) That external application

[2021-06-04 12:12] philipianpearce commented on #689
Which log(s) are you taking about? Which e2g version?

If SSLMITM is enabled then requests within the tunnel are treated in the same way as http requests and will be logged in exactly the same way (i.e full url) in the access.log. So, looks as if your SSLMITM may not be working.

Philip

----- Original Message -----

[2021-06-04 23:35] dbrody2004 commented on #689
So you are saying the access.log I should see the full url (ie not just https://www.google.com)

"2021.06.04 22:52:39","-","172.18.0.1","https://google.com","-","-","22131","0","-","1","0","-","172.18.0.1","group1","-","-","-","-","-"

[2021-06-06 00:25] dbrody2004 commented on #689
I can verify that sslmitm is turned on and it does appear to work for some sites see the first log below.  The second log shows upfail as 0 which I think is why sslmitm is turned off.  Any ideas why?

[code]

[code]

[2021-06-08 11:54] philipianpearce commented on #689
upfail is set true (1) when there is a failure to connect upstream so 0 is the 'good' case.

The first request is failing due to a DNS issue.
hw0: connectUpstream: getaddrinfo returned -3 for configuration.apple.com Temporary failure in name resolution
hw0:  after connectUpstream nf 1 upfail 1 And then is doing half MITM to report issue to user. On the second one it looks as if MITM is not enabled

[2021-06-09 00:54] dbrody2004 commented on #689
Might have found the issue, but need to verify.  In examplef1.story the following was uncommented out which limits it just to greylist mitm.

function(sslcheckmitm)
if(true) return sslcheckmitmgreyonly

[2021-06-16 20:15] meyertime commented on #654
@philipianpearce Couple things:

I just noticed in your comments you mention version 5.5 might work better.  It looks like 5.4 is the latest official release, and the Arch AUR package is still at 5.3.  What's the best way for me to get 5.5 installed?

I'm also wondering about workarounds in the meantime.  Previous versions of e2guardian/dansguardian used a third-party proxy (Squid, I believe?) but

[2021-06-27 09:44] ghost commented on #671
Put this line in _urlregexplist_ list:

"zombie"->"spring"

[2021-06-29 09:20] #621 closed, assigned to philipianpearce

[2021-06-29 10:02] philipianpearce commented on #660
Resolved by switching back to using iostream (as in previous versions).  Sorry for delay in picking this up!

[2021-06-29 10:02] #660 closed, assigned to philipianpearce

[2021-06-30 16:51] rickprice commented on #671
Appreciated :)

[2021-07-16 11:36] brunolorente commented on #665
Thais issue can be closed

[2021-07-22 13:46] PavelAtr opened #694 "Incorrect preservecase"
With the parameters of the config file
phrasefiltermode = 1 (smart only)
preservecase = 2
in NaughtyFilter.cpp there is no second loop pass for
preserve_case = true

[2021-07-22 13:50] PavelAtr commented on #694
if (!do_raw) {
            delete[] bodylc;
            delete[] bodynohtml;
            if (hexdecoded != rawbody)
                delete[] hexdecoded;
            return; // only doing nohtml mode filtering !!!!!!!!!!! RETURN
        } else {

[2021-07-22 13:59] PavelAtr commented on #694
--- NaughtyFilter.cpp.orig	2021-04-07 18:56:40.000000000 +0300
+++ NaughtyFilter.cpp	2021-07-22 16:58:41.280347225 +0300
@@ -530,13 +530,7 @@
             }
         }

-        if (!do_raw) {
-            delete[] bodylc;
-            delete[] bodynohtml;
-            if (hexdecoded != rawbody)
-                delete[] hexdecoded;
-            return; // only doing nohtml mode filtering
-

[2021-07-22 14:05] PavelAtr commented on #694
Possible patch:
[preservecase.patch.txt](https://github.com/e2guardian/e2guardian/files/6862777/preservecase.patch.txt)

[2021-07-25 12:46] PavelAtr commented on #694
Possible patch corrected:
[preservecase.patch.txt](https://github.com/e2guardian/e2guardian/files/6873875/preservecase.patch.txt)

[2021-07-26 00:51] marcelloc opened #695 "Missing bannediplist file under example.group on e2guardian 5.4.3 / Freebsd 12"
Hi, I'm updating freebsd port for e2guardian 5.4.3

I'm getting this error:

[code]

Is bannediplist used on example.group or the **install-sh -d /usr/ports/www/e2guardian5/work/stage/usr/local/etc/e2guardian/lists/example.group** reffer to a non used filed?

I've tried with v5.4.3r and v.5.4 branch/tag

[2021-08-05 19:08] Jikodis commented on #587
@marafa I see that the root readme file now links to https://github.com/e2guardian/e2guardian/wiki You can see it by visiting this header link: https://github.com/e2guardian/e2guardian/blob/v5.4/README.md#wiki

I think this issue can be marked as resolved.

[2021-08-18 15:03] philipianpearce opened #696 "Add semi exception lists/facility to allow a site but not some urls at site"
Needs new storyboard flag semiexception and changes to storyboard logic

[2021-09-08 08:31] philipianpearce commented on #696
added to v5.5.dev

[2021-09-08 08:31] #696 closed, assigned to philipianpearce

[2021-09-08 08:34] philipianpearce commented on #690
No activity - so closed

[2021-09-08 08:34] #690 closed, assigned to nobody

[2021-09-08 08:36] philipianpearce commented on #689
No activity - so presume fixed

[2021-09-08 08:36] #689 closed, assigned to nobody

[2021-09-08 15:27] chifu1234 commented on #673
same here using ` --prefix=/usr/local/e2guardian --with-proxygroup=nobody --enable-icap=yes --enable-clamd=yes`
you can test it with `docker run -it bedag/e2g:5.4` or `docker run -it bedag/e2g:5.4-debug`

[2021-09-09 11:54] chifu1234 opened #697 "Feature: observability"
Currently e2g has no observability. There are no metric which can be gathered. I think there are two options to resolve this issue:
- Implement a Prometheus exporter
- implement a socket
What do you think?

[2021-09-09 12:35] KDGundermann commented on #697
in v5.5 there is a new logger and you can send the log entries e.g. to GrayLog and then create metrics there..

[2021-09-13 14:25] sysadmin0129 opened #698 "Downloading large file stops after 1,25G"
e2guardian 5.3.4, Ubuntu server 20.04.2 LTS

Every time i try downloading Centos iso file from http://mirror.etf.bg.ac.rs/centos/8.4.2105/isos/x86_64/CentOS-8.4.2105-x86_64-dvd1.iso it stops after 1,25GB with "Failed" message from the browser (Firefox, Chrome).

- etf.bg.ac.rs is added to the exceptionsitelist
- i have no AV scanning enabled, "contentscanner" options are not set in e2guardian.conf

[2021-09-21 01:06] takelley1 opened #700 "Can't get IP-based filter groups working on v5.4"
[code]

I'm having trouble getting filter groups working after updating to v5.4. Currently I'm using IPs to define filter groups.
Here's the steps I took to define my groups:

1. I defined my IP groups in `lists/authplugins/ipgroups`
1. I followed the instructions at the top of `e2guardianf1.conf` and commented out the lines that start with `storyboard =` and `.Define LISTDIR`
1. I copied `e2guard

[2021-09-21 09:25] philipianpearce commented on #700
preauth.story is used from e2guardian.conf as it is used before the user is assigned to a group, in order to determine the group used.

The error message you are getting is from the reading of e2guardianf1.conf and group1.story, where you are incorrectly including preauth.story. So e2g was looking for an 'ipmap' in e2guardianf1.conf and failing to find it as it is in e2guardian.conf. Removing this

[2021-09-22 23:02] takelley1 commented on #700
I've posted in the Google group. Thanks!

[2021-09-22 23:02] #700 closed, assigned to nobody

[2021-11-01 05:44] programmerPhysicist opened #702 "Wiki links are broken"
The wiki links to old dansguardian documentation appears to be broken. The webpages appear not to exist any longer. The links should be replaced with links to archived dansguardian documentation or to the internet [Wayback Machine](https://archive.org/web/web.php) if necessary.

[2021-11-05 12:40] LegalDreadPirateRobert commented on #547
Am still having this issue, am trying to setup e2guardian && Squid for web filtering .

i installed both earlier today and both installed fine but while testing it was'nt filtering any of the web urls i had entered so i had to uninstall it now when i try to install it back i get this error `Error opening ${prefix}/etc/e2guardian/e2guardian.conf`

[2021-11-05 14:08] fredbcode commented on #547
Installed how ?

Le 05/11/2021 à 13:40, Emhonfubhegbe Osayi Bishop a écrit :

[2021-11-05 14:35] fredbcode commented on #547
Quicky tested

[code]

[2021-11-12 13:35] chifu1234 opened #703 "[question] variable config"
Hi Guys!

Quick question I tried to use `.Define` with other Variables then `LISTDIR` is that actually possible?

Example:
`.Define TETSDIR </etc/e2g/test>`

Thanks, Kevin

[2021-11-13 15:51] philipianpearce commented on #703
Hi Kevin,

Currently, .Define can only be used with LISTDIR as this is a hard-coded substitution as file paths are read.

Just having the one variable was sufficient for the use case (mainly different folders for each filter group while using a common definition file) we were looking at at the time it was implemented.

But the syntax was designed so that it could be extended to multiple variables.

[2021-11-13 15:59] chifu1234 commented on #703
super thanks @philipianpearce !

[2021-11-13 15:59] #703 closed, assigned to nobody

[2021-11-16 09:23] chifu1234 commented on #703
another thing you can do is to use relative path. it is relative to the current file:
`.Include<../common/nologurllistt>`

[2021-11-20 21:40] patrakov opened #707 "v5.4: Missing SSL hostname check"
I tried e2guardian in a virtual machine today, running it as a standalone transparent proxy with SSL MITM, with the following iptables rules that redirect traffic to it (where 974 is the uid of the user that e2guardian runs as):

[code]
I found that e2guardian enables browser connections to sites that it should not allow. One example is https://wrong.host.badssl.com/

This is very serious, because

[2021-11-20 21:41] patrakov commented on #707
Forgot to say: I was testing git commit 209e00119f20aa4f8f30ccedb88218989c8f4cd1

[2021-11-20 21:52] patrakov opened #708 "v5.4: allows dh-1024 and has no way to tweak allowed ciphersuites"
Same system as in #707 (standalone transparent proxy with SSL MITM enabled) also allows connections to a test site with a weak crypto (https://dh1024.badssl.com/), that browsers would normally block. That site uses an ephemeral Diffie-Hellman key exchange over a 1024-bit group.

Not sure if this can be counted as a bug in e2guardian or just bad defaults in OpenSSL: curl on Arch Linux (without the

[2021-11-20 22:10] patrakov commented on #708
Modern Firefox also doesn't open https://dh2048.badssl.com/ while e2guardian allows it.

Also e2guardian opens https://dh-small-subgroup.badssl.com/ , https://dh-composite.badssl.com/ , https://tls-v1-0.badssl.com:1010/ , https://tls-v1-1.badssl.com:1011/ , but again, curl can get them, too.

[2021-11-22 13:38] chifu1234 opened #709 "[feature] Request ID"
Hi Guys,
What do you think about a request ID which can be printed in the error msg to the user and as well in the log?
Thanks & Regards, Kevin

[2021-11-22 15:25] chifu1234 opened #710 "[bug] reportinglevel"
Hi Guys,
It seems like that the option `reportinglevel` is completely ignored. I use e2g `5.4.3`. It always sends a `302`  to `http://internal.test.e2guardian.org` when blocked. Both e2guardian.conf and e2guardianf0.conf are ignored.
Regards, Kevin

[2021-11-22 15:56] chifu1234 commented on #710
not sure but it might be related  to https://github.com/e2guardian/e2guardian/blob/3ce57b50c9754bca39fabd1eaa1b69f0bbe223f9/src/FOptionContainer.cpp#L470

[2021-11-22 16:11] chifu1234 commented on #710
Ok not sure if I read the code correct ;)

But I fall in that if (because I've setet it to 3) https://github.com/e2guardian/e2guardian/blob/7c865f2e04f4e69694b77594664f6feb284156e4/src/ConnectionHandler.cpp#L1885
And then next I fall in (because its a connect request) https://github.com/e2guardian/e2guardian/blob/7c865f2e04f4e69694b77594664f6feb284156e4/src/ConnectionHandler.cpp#L1896
And then e2g

[2021-11-23 10:01] philipianpearce commented on #707
@patrakov Hi Alex, thanks for reporting - bug appears to have crept in in openssl v1.1 e2g implementation.
Fixed in latest v5.4 branch.

[2021-11-23 10:02] #707 closed, assigned to philipianpearce

[2021-11-23 10:19] philipianpearce commented on #708
Changing ciphersuites is fully supported  by modifying the main openssl.conf file or by creating a specific openssl format config file for e2guardian.   See options useopensslconf and opensslconffile in e2guardian.conf.   This avoids re-implementing the openssl config syntax within e2g.

It would be useful to add an example openssl config file that implements the latest recommended settings to the

[2021-11-23 10:19] #708 closed, assigned to philipianpearce

[2021-11-23 10:24] philipianpearce commented on #709
It is an interesting idea.  It may be useful when debugging.  I will put on the wish list for the next dev version (v5.6)

Regards
Philip

[2021-11-23 10:54] philipianpearce commented on #710
Yes, it did allow a more tidy user presentation in non-MITM mode at one time in some browsers.  However, now most browsers will no longer allow it and throw an error, so this redirection code has been removed in versions after v5.4.

As 99.9% of all sites are now https, reportinglevel will only be effective for the user when using MITM.

In fact e2guardian can now only be effective and user-friend

[2021-11-23 10:54] #710 closed, assigned to philipianpearce

[2021-11-23 11:02] philipianpearce commented on #695
HI really sorry for the delay in picking this up - fixed in latest v5.4 branch

Regards
Philip

[2021-11-23 11:04] patrakov commented on #708
Yes, an example of an openssl cnf file that allows the same cryptographic primitives and protocols as modern browsers would be great.

[2021-11-23 11:10] patrakov commented on #707
Thanks for a quick fix!

Would you mind if I request a CVE ID for this?

[2021-11-23 12:50] chifu1234 commented on #710
i see thanks ;)

[2021-11-23 12:51] chifu1234 commented on #709
super thanks !

[2021-12-03 11:47] philipianpearce opened #711 "v5.4 - connecttimeout not being applied - default of 5 secs can cause timeout on some sites"
v5.4 - connecttimeout not being applied - internal default timeout of 5 secs can cause timeout on some sites.

No issue detected in v5.5/

[2021-12-03 11:56] philipianpearce commented on #695
Wrong file fixed - should have been Makefile.am

[2021-12-03 12:00] #695 closed, assigned to philipianpearce

[2021-12-03 12:00] #711 closed, assigned to philipianpearce

[2021-12-07 11:19] philipianpearce opened #712 "v5.4,v5.5 Message sometimes wrong when upstream connection fails"
v5.4,v5.5 Message to user and in logs is sometimes wrong when upstream connection fails.  The e2g status number is correct in logs but message does not correspond and category set (should be blank on connection failure)

[2021-12-16 17:33] Anthony-76 opened #713 "maxheaderline limit"
Hi,

I use an E2guardian release 5.3 (I know it's not the last release)

I have issues on somes Websites (like Linkedin for example)

The webpages are very slow or sometimes all webpages are not fully loaded because these websites are a loooooot oooffffff..... headers lines.

I increase the maxheaderlines to 2000 in e2guardian.conf and now the webpages work fully and fully loaded

I change the val

[2021-12-21 12:23] philipianpearce opened #714 "v5.5 extra high CPU usage under high load"
Appears to be result of using non-blocking mode - reverting to blocking mode it test fixes

Has required a major re-write of socket, tunnel and data buffer code to fix while still keeping timeouts working on MITM.

[2021-12-21 12:29] philipianpearce commented on #712
Fixed in v5.4 and v5.5dev

[2021-12-21 12:29] #712 closed, assigned to philipianpearce

[2021-12-21 12:30] philipianpearce commented on #714
Fixed in v5.5.dev

[2021-12-21 12:30] #714 closed, assigned to philipianpearce

[2021-12-23 17:25] patrakov commented on #707
This is now CVE-2021-44273.

[2021-12-28 20:48] opoplawski opened #715 "5.5 fails to start with default config"
[code]
I had to uncomment maxcontentramcachescansize and increase the size to 2048.

[2021-12-28 21:56] opoplawski opened #716 "5.5 ignores proxyip"
Testing out 5.5 in our ssl MITM configuration, but it appears to connect directly to sites rather than use our squid proxy as set in proxyip.

[2021-12-28 22:05] opoplawski opened #717 "e2g appears unable to process data some some URLs"
We are downloading data from https://nomads.ncep.noaa.gov/pub/data/nccf/com/gfs/prod/, in particular dated directories like https://nomads.ncep.noaa.gov/pub/data/nccf/com/gfs/prod/gfs.20211228/00/atmos/.  Access to the latter URL fails when going through e2g (5.4.3 or 5.5-dev), but works fine directly or via squid.  Headers are returned but no data.

[log.txt](https://github.com/e2guardian/e2guard

[2021-12-29 10:03] philipianpearce commented on #716
diag - bug in revised OptionContainer structure

[2021-12-29 10:57] philipianpearce commented on #716
Many thanks for reporting this bug.
Fixed in latest v5.5.dev
Can you please test and report if now OK

[2021-12-29 13:08] philipianpearce commented on #717
This site is generating a huge chunk greater than the size of an int with an abnormally large chunk size field (14 chars), so required changing definitions to long int in order to work.     This is unusual, as it is bad practice for a site to generate such large chunks as this slows down browser rendering a lot when going direct making the site seem dead.

Fix in progress for v5.5.dev.
Work round

[2021-12-29 17:02] opoplawski commented on #717
Thank you very much for the analysis - I banged my head against this for much of yesterday.  However, for 5.4..3 adding "ncep.noaa.gov" to exceptionsitelist did not appear to help.

[2021-12-29 17:02] opoplawski commented on #716
That looks better, thanks!

[2021-12-30 13:27] philipianpearce commented on #717
This site is very, very slow especially where there is lots of entries in a directory.

It is likely that it is exceeding the timeout set in e2guardian.conf. Try increasing proxytimeout and proxyexchange to 120 or more.

----- Original Message -----

[2021-12-30 18:43] opoplawski commented on #717
Yeah, that may have been it.  Seems to be working now.  Thanks.

[2022-01-06 23:51] opoplawski opened #718 "Change in log format with 5.5"
Testing out 5.5 branch and using logfileformat 4.  Out is different.  Previously there was a "-" in the initial field but that is no empty.  Can that be reverted to be a "-"?  It's confusing my logwatch parsing.  Thanks.

[2022-01-06 23:55] opoplawski commented on #718
I'm also seeing some entries without a "action" (like `*SCANNED*`):
[code]
What is happening there?

[2022-01-10 13:56] philipianpearce commented on #718
Use 'dashforblank = on' option in e2guardian.conf

This is missing from the examples, I will add it as an example.

Regards
Philip

----- Original Message -----

[2022-01-11 21:47] opoplawski commented on #718
Thanks, that works.  Looks like it used to be on by default but not anymore?

[2022-01-12 23:52] opoplawski opened #719 "nomitmsitelist does not appear to work"
In /etc/e2guardian/lists/example.group/nomitmsitelist:
[code]
In /etc/e2guardian/e2guardian.conf:
[code]
preauth.story is the default version.

But I still get one of our certs when I connect via e2g with curl
[code]
If I add it to exceptionsitelist then I get the upstream cert.

Am I not understanding how nomitmsitelist is supposed to work?

[2022-01-31 06:05] programmerPhysicist opened #720 "banned searchlist can be bypassed by changing capitalization"
When I add the word 'cats' to bannedsearchlist, if I do a search for 'Cats' it won't block it. If I search for 'cats' (uncapitalized), it blocks it. If I then add 'Cats' (capitalized), to bannedsearchlist and restart e2guardian, it _still_ won't block it.

[2022-02-04 03:59] programmerPhysicist commented on #720
Furthermore, it appears to not block search terms that are capitalized.

[2022-02-04 12:08] #720 closed, assigned to philipianpearce

[2022-02-04 12:12] philipianpearce commented on #720
Fixed in v5.4 and v5.5.dev branches

Thanks for raising this bug!

Philip

[2022-02-04 12:17] #716 closed, assigned to philipianpearce

[2022-02-26 11:34] andersonsc10 opened #721 "Is it possible to use aliases instead of ip's?"
Hello, I have some groups and acl's configured in the e2g, and I would like to reuse ips that I have registered in aliases, I would like to know if in the ip's tab of the e2g instead of putting the ips "192.168.xx" I could put an alias "list_mang" for example?

Att

[2022-02-28 12:39] rekcah78 opened #722 "Is possible to build arm image for arm/v7 processor"
Hi,

I need that for running e2guardian in raspberry pi,
the latest arm image only support arm64/v8 processor.

Christophe

[2022-02-28 13:00] fredbcode commented on #722
Sorry I'm using only an armv8 (p3/p4) infra for compilation, you can migrate to 64 bits OS or compil e2guardian source code
Look at my ci dockerfile for this
https://github.com/e2guardian/e2guardian/blob/v5.4/gitlabci/docker-ci/Dockerfile

[2022-03-01 07:53] #722 closed, assigned to nobody

[2022-03-01 09:30] philipianpearce commented on #721
e2g does not support aliases, so I'm not sure what you mean by 'registered in aliases'.  Can you provide an example of what you mean?

However, if you a talking about within the lists, .Include lists can often be used to avoid retyping lists of ip.

For example, you could have a list called    mang_ip_list and then include this within other master lists as required.

Also please see #21 re use of

[2022-03-01 10:29] andersonsc10 commented on #721
Hello, I'll try to give an example with images, I don't know if it's
supported here on github but I'll try the same, below there's a print of
the pfsense menu, where I have lists of ip's:
[image: image.png]
[image: image.png]
in this list of ips (aliases) above I have my manager list, among others,
what I would like is to reuse these lists in the following e2g menu:
[image: image.png]
that way I w

[2022-03-04 22:10] ghost opened #723 "Are there any plans to release a new version soon please?"
Please excuse me..

[2022-03-10 03:36] javier-acosta-m commented on #673
I have the same issue, is there a fix for this?

[2022-03-11 10:42] philipianpearce commented on #721
This is not an e2g issue.

Best to ask this at the pfsense support site.

[2022-03-11 10:53] andersonsc10 commented on #721
Ok thanks, I asked here because in other parts of pfsense aliases work,
except in e2guardian, but I will try to inform myself better.

Att.

Em sex., 11 de mar. de 2022 às 07:42, Philip Pearce <
***@***.***> escreveu:

[2022-03-15 02:21] takelley1 commented on #673
@javier-acosta-m There is no fix, but there is a workaround. You must pass the `-c` option with the configuration file path, for example:
[code]

[2022-03-23 07:37] Kenny690 commented on #717
I have the same issue with dns-shop.ru. I have white screen and nothing in logs. If I go directly, I can access it.
And I have another issue, and, IDK, maybe it's connected. I have some websites that I can't access via proxy. E2guardian throwing "Access Denied" with error "Failed to negotiate ssl connection to server". I can access the website directly.
I have MITM turned on. Websites are, for exa

[2022-03-30 09:48] philipianpearce commented on #723
Yes,  a new v5.4 version will be released within the next two weeks and the first v5.5 stable release in about a month.

[2022-03-30 10:05] klipa01 opened #724 "No mime-type detection inside zipped files"
Hello,
as far as i can see there is no detection for banned mime-types or file extensions within compressed files (as commercial products do). The filter can easily be bypassed by just adding the *bad* files to a zip file. This just works if .zip extensions or the corresponding mime-types will be allowed in the config, of course. But i don't think blocking compressed files globally would be a good

[2022-03-30 10:15] #723 closed, assigned to nobody

[2022-03-30 10:18] #721 closed, assigned to nobody

[2022-03-30 11:06] philipianpearce commented on #724
E2g does support detection of banned mime-types and file extensions within a HTTP compressed transport such as zip.

But not within zipped files.

Virus scan plug-ins may support scanning of zip filles, but as far as any HTTP filter is concerned a zip file is just a file.    .zip and .tz files often have huge payloads so running any extraction on these files would be impractical due to the delay i

[2022-03-31 08:14] klipa01 commented on #724
Hello Philip,

thank you for your quick answer.

A web filtering solution which detects mime-types within zip files is Trend Micro InterScan Web Security. I have been using this content screen for many years now. But this product is almost end of life.

Not a web content screen but the open source mail filter amavis analyzes files within compressed containers. For this purpose it handles the files

[2022-03-31 09:48] philipianpearce opened #725 "Local Grey match not over riding main trust/block match"
Local Grey match not over riding main trust/block match. (When using default common.story)

[2022-03-31 09:51] #725 closed, assigned to philipianpearce

[2022-04-04 15:10] xes opened #726 "Log Referer"
While trying to filter some phishing pages, i would like to log the referer url with latest e2guardian 5.4 with MITM enabled.

Is it possible?

[2022-04-08 11:33] philipianpearce opened #727 "some lists are sorted incorectly"
Some lists are sorted incorrectly which may cause items not to be matched correctly - appears to affect all versions

[2022-04-12 12:06] philipianpearce commented on #727
Fixed in branch v5.4 and v5.5.dev - testing showed not fixed

[2022-04-14 10:05] philipianpearce commented on #727
There was a long-standing bug with the sorting comparitor function used to sort textual lists.

This resulted in items that items that included other items (e.g. test.s3.amazonaws.com and s3.amazonaws.com not being sorted correctly and so when list is searched test.s3.amazonaws.com may not be found in list.

[2022-04-14 10:09] philipianpearce commented on #719
This may relate to #727.
Can you try latest branch release

[2022-04-14 11:21] philipianpearce commented on #718
Is now on by default in v5.5.dev

[2022-04-14 11:21] #718 closed, assigned to nobody

[2022-04-21 22:51] opoplawski commented on #719
That does look better, thanks!

[2022-05-06 11:26] ghost commented on #723
@philipianpearce It seems like you forgot to issue a new tag:
https://github.com/e2guardian/e2guardian/tags

[2022-05-14 06:26] programmerPhysicist commented on #613
If I do step 2, with a banned phrase, it doesn't block as it should. Is there a workaround for this issue?

[2022-05-16 11:47] philipianpearce commented on #723
@lyos Nothing forgotten. Due to having covid19 and leave the release has been delayed - I hope now to complete the release later this week.

Philip

----- Original Message -----

[2022-05-19 13:51] #727 closed, assigned to philipianpearce

[2022-06-03 01:50] Jikodis commented on #240
There are various models with varying levels of accuracy, but one of the most popular models is only 90-93% accurate. This one claims to be more accurate. Implemented in Tensorflow, so there must be a way to integrate it somehow.

https://github.com/MaybeShewill-CV/nsfw-classification-tensorflow

[2022-06-09 23:37] opoplawski commented on #719
While 5.4.4 references a fix for #727, it does not appear to be honoring nomitmsitelist for me.  Are we close to a 5.5 release?

[2022-06-10 11:28] #713 closed, assigned to philipianpearce

[2022-06-10 11:32] philipianpearce commented on #713
Very sorry for delay in picking this up.   Thanks very much for suggestion.
Have increased upper limit in latest v5.4 and v5.5.dev to 2500.

Sorry it missed v5.4.4r but will be in v5.4.5r (to be released shortly)

[2022-06-20 08:26] #715 closed, assigned to philipianpearce

[2022-06-20 08:30] philipianpearce commented on #719
Yes,  near stable will be released today

[2022-06-20 08:30] #719 closed, assigned to nobody

[2022-06-20 08:47] philipianpearce commented on #697
Key metrics (requests, connections and capacity etc) are periodically written to the dstat.log or to syslog (output similar to sar format). This can be read by standard log-monitoring tools (or by scripting) for system monitoring purposes.

No plans at the moment to implement a special socket (like squid) as e2g stats are much simpler.

[2022-06-20 08:47] #697 closed, assigned to nobody

[2022-06-20 08:52] philipianpearce commented on #671
This relates to #623

[2022-06-22 08:32] philipianpearce commented on #717
Kenny690 issue with 'Failed to negotiate ssl connection to server' is different likely due to out-of-date cert store on system e2g is hosted on.

[2022-06-22 08:32] #717 closed, assigned to philipianpearce

[2022-06-23 20:08] opoplawski opened #729 "5.5.1pre appears to generate bad certificates"
Near as I can tell at the moment it seems to generate certificates with a common name of the IP address of the remote site instead of the server name.

[2022-06-23 20:11] opoplawski commented on #729
Also, logging seems a little messed up:
[code]

[2022-06-23 20:32] opoplawski commented on #729
Actually, the problem seems to be Firefox issuing connect statements using IP addresses instead of server names.  Though the logging issue remains.  And I'm still investigating what is triggering this.

[2022-06-23 20:50] opoplawski opened #730 "5.5.1pre will only download 2MB of a large file and then stop"
5.5.1pre will only download 2MB of a large file and then stop.  I'm assuming this is related to maxcontentramcachescansize and that we have clamav content scanning enabled.

[2022-06-27 22:30] opoplawski commented on #729
A reinstall of Firefox appears to have cleared this.

[2022-06-27 22:30] #729 closed, assigned to nobody

[2022-06-27 22:31] opoplawski commented on #730
We had to roll back to 5.4.5 due to various sites no longer working with it.  I'm not sure if this is the cause of all of the issues, but seems like a good place to start.  Seems like this came up and was resolved before.

[2022-06-29 06:51] xes commented on #730
Me too. Just tried latest 5.5 and discovered that it's almost impossible to download files from sourceforge.net.
I had to revert to 5.4 and all started working again.
(during the test, the config remained the same in use with 5.4.5r)

[2022-06-29 11:36] philipianpearce commented on #730
@xes - are you running virus check (like Orion)?

Regards
Philip

----- On 29 Jun, 2022, at 07:51, xes ***@***.***> wrote:

[2022-06-29 11:52] philipianpearce commented on #730
@opoplawski   Did you have any errors relating to this in the system logs? Please post if you have.

Looks that is may be a problem with the clamav plugin as without it enabled large file download is OK in my test systems.

[2022-06-29 23:17] opoplawski commented on #730
Here is a debug log from a download attempt that is truncated.
[debug.log.gz](https://github.com/e2guardian/e2guardian/files/9015074/debug.log.gz)

It seems to get to the end of the 2MB content scan and then just send the HTTP OK
[code]

[2022-07-01 08:18] Dalacor opened #731 "configure.ac file needs updating to work with newer versions of automake and autoconfigure"
Using the following versions of E2guardian, I can see two issues.

E2guardian 5.3.3
E2guardian 5.4.5r
E2guardian 5.5.1pre

All of them need Autoupdate run to update the configure.ac file as there are obsolete entries.

With 5.3.3 and 5.5.1pre neither of them will run when using Automake 1.16.5 - You have to downgrade Automake version.

I assume that because version 5.5.1pre has the same issue as t

[2022-07-02 11:39] Dalacor opened #732 "E2guardian 5.5.1pre trickle download manager Bug"
Upon installing this version of E2guardian, I needed to rem out references to Trickle Download Manager in both common.story and E2guardianf1.conf otherwise E2guardian does not start as result of errors looking for Trickle Download Manager. As this version of E2guardian is a pre release, you are probably are aware of it. But I thought I would mention it, in case you were not aware.

Could the docum

[2022-07-02 12:29] Dalacor opened #733 "Geolocation and TLD Allowed Cyber Protection"
Dansguardian was originally developed to filter internet traffic more from the point of view of blocking not suitable for work websites.

While this is still a very important and very relevant part of the program's core functionality that E2guardian has further developed, I feel it would be worthwhile to review the use of E2guardian (in conjunction with a firewall like IPTables) to build a compreh

[2022-07-03 06:22] programmerPhysicist opened #734 "configure script uses -V option that no longer exists for gcc"
When I try to run the configure script before building, using the following command:
`./configure '--prefix=/usr' '--enable-clamd=yes' '--with-proxyuser=e2guardian' '--with-proxygroup=e2guardian' '--sysconfdir=/etc' '--localstatedir=/var' '--enable-icap=yes' '--enable-commandline=yes' '--enable-email=yes' '--enable-ntlm=yes' '--mandir=${prefix}/share/man' '--infodir=${prefix}/share/info' '--enable

[2022-07-10 20:46] Dalacor opened #735 "function(checkfiletype) in site.story not overriding function in common.story E2G 5.5.1pre"
Instead of using bannedextensionlist and bannedmimetypelist I want to move to exceptionsextentionlist and exceptionmimetypelist as this would be more secure.

I have uncommented the following in site.story. However extensions are still being banned based on what is in the bannedextensionlist file. I am aware that there is a function(checkfiletype) in the common.story file which bans extensions and

[2022-07-11 11:18] philipianpearce commented on #730
Ignore this message - bug not yet fixed

Thanks
Philip

[2022-07-11 11:51] philipianpearce commented on #730
Bug not yet fixed v5.5 reverted.

[2022-07-13 09:28] philipianpearce commented on #730
I think now fixed in latest v5.5

This did relate to maxcontentramcachescansize and chucked encoding (file size lower OK, above not OK).

I was able to replicate without virus scanning but with content scanning enabled for the mime type and so I expect clam plugin is OK.

Please test and confirm if ok with virus scanning.

[2022-07-13 16:09] opoplawski commented on #730
LGTM, thanks!

[2022-07-15 08:12] MrdUkk opened #736 "MITM mode: guardian should honor TLS-specifications and send to client FULL chain of certificates"
currently e2guardian send to client ONLY certificate for requested site. it's very wrong because according to standart it SHOULD send full chain or clients can't build chain of trust.

_"If the server is authenticated, its certificate message must provide a valid certificate chain leading to an acceptable certificate authority."_

See:  https://www.rfc-editor.org/rfc/rfc5246#appendix-F.1.1

for ex

[2022-07-17 01:57] rshmhrj opened #737 "Unable to block learning site (math-drills.com)"
For the summer I have been giving my kids worksheets from math-drills.com to complete and I don't want them to be able to go to the site to find all the answers easily.

I've tried adding `math-drills` / `math-drills.com` / `www.math-drills.com` to:
- bannedsitelist
- bannedsslsitelist
- bannedurllist

I'm still able to access it.

Also tried adding `math-drills` in goodphrases/weighted_general wi

[2022-07-17 06:55] rshmhrj commented on #737
Seems like adding to `localbannedsitelist` did the trick

[2022-07-17 06:55] #737 closed, assigned to nobody

[2022-07-19 11:31] philipianpearce commented on #735
The function override facility is basic to the storyboard facility.   Can you turn on storyboardtrace on a test system and if it is not obvious what is wrong, post the result with your site.story and the story for the filtergroup.

Message numbers: as exceptions do not display a message to the user messsage_nos are not usually needed and as as the function is deploying reverse logic the message nu

[2022-07-19 11:34] philipianpearce commented on #730
Great, thanks for the feedback!

[2022-07-19 11:34] #730 closed, assigned to philipianpearce

[2022-07-19 11:51] philipianpearce commented on #736
For security reasons e2g does not allow the use of derived certificates in order to generate a 'spoofed' certificate in MITM.   A self-signed root CA has to be generated and loaded on all clients so there is always 'client consent' to the MITM.

As this is the case the 'full chain' in MITM can only consist of a single certificate and so e2guardian does conform to rfc5246.

For connections that are

[2022-07-19 11:51] #736 closed, assigned to nobody

[2022-07-19 12:33] philipianpearce commented on #733
This is a very interesting post.    I'll pick up on most of the points at a later date, but just want to comment on the idea of 'allowed TLDs'  that would be effectively a reverse logic list.

It is possible to do this without any change to the binary (in both v5.4 and v5.5) by modifying the blanket block storyboard functions.    After defining a 'sitelist' with allowed TLD, say tagged as 'allowed

[2022-07-20 07:25] MrdUkk commented on #736
What are these security reasons? Can you write it here?
To process MITM e2guardian already required PKI certificates from corresponding PKI authority. Those chain of certificates ARE PUBLIC keys that will lead to root trusted CA. What are security concerns here you mentioned ?
'spoofed' certificates are generated by e2guardian already for TARGET sites visited through proxy. but with spoofed cert -

[2022-07-20 09:38] philipianpearce commented on #736
You are starting from a wrong assumption:
"To process MITM e2guardian already required PKI certificates from corresponding PKI authority. Those chain of certificates ARE PUBLIC keys that will lead to root trusted CA."

This is NOT the case.  If it were, it would allow e2g to intercept and examine https traffic, without  permission of the client.    And it would make the use of TLS useless, any HTT

[2022-07-20 10:55] Dalacor commented on #733
I am very pleased that you like the idea. I think TLD and Geolocation is the logical evolution of E2guardian as Internet Filtering is increasingly becoming more about Cyber Security than NSFW concerns. And you have just confirmed that most of the functionality is already in place for both features. So that is fantastic. When I have time, I will see if I can get the TLD Allowed list to work (as you

[2022-07-20 10:56] Dalacor commented on #735
I did a story trace and there was nothing in the logs. I will look at this again when I have fully completed all the work I am doing on E2guardian as there may have been some change during the setup process that I have not documented that is causing the issue.

[2022-07-25 11:55] philipianpearce commented on #731
I have cleaned up code to remove obsolete 'defines' and have removed some redundant sections from configure.ac and  autoupdated it to the fairly old version of automake I run on my development system.

However, I am not an automake expert and if someone who is can take a look at re-writing configure.ac that would be great!

[2022-07-25 12:04] philipianpearce commented on #734
This is strange, the configure.ac which configure is generated from uses the g++ -version parameter,  the -V option is nowhere to be found!

Have you run sh autogen.sh which regenerates the configure script before running ./configure as per the INSTALL notes?

[2022-07-25 14:23] Dalacor commented on #731
I don't know anything about automake either unfortunately. If nobody does have any expertise with this, what I would suggest is using 5.4.5r configure.ac as the template version going forward for all new releases. Just update that using Autoupdate and it should be fine. That works with the latest version of Automake (once you have run autoupdate. So whatever changes you have made there are probabl

[2022-07-26 17:28] Dalacor commented on #735
I have done some more work on this and compared E2guardian 5.5.1pre with E2guardian 5.4.5r and I can confirm that the results are the same regardless of E2guardian version. It is a bit confusing because it depends on how the file is stored on the website and whether you are using banned or exceptions.

1. When you enable function checkfiletype in site.story and uncomment the exceptionmimetypelist

[2022-07-31 14:49] Dalacor opened #738 "Youtube not working in E2guardian-5.5.1pre"
Youtube won't load in the latest version of E2guardian with MITM enabled. No error message - it just won't load. The only way I can get it to work is to put the site into exceptionsiteslist. The option nocheckcertsitelist has no effect on the issue. I have no problems with Youtube in the stable release of E2guardian. I don't even need to except Youtube certificate in the stable version for the web

[2022-07-31 14:55] Dalacor opened #739 "Searchregexplist for Youtube and Kiddle Search Terms"
**Kiddle Search Engine**

To add search terms check for kiddle.co add the following:

"^http://www.kiddle.co/s.php\?q=([^&]*)\&.*"->"\1"
"^http://www.kiddle.co/s.php\?q=([^&]*)"->"\1"

Kiddle is a search engine that is suitable for kids up to age 12.

**Youtube**

Youtube have unfortunately changed how searches are carried out. The command below:

"^http://[0-9a-z]+\.youtube\.[a-z]+[-/%.0-9a-z]*\?

[2022-07-31 15:03] Dalacor opened #740 "searchexceptionregexplist not working for any search engine"
Google have changed how searches are preformed in Google Search. As such the entries:

"^http://www.google.com/complete"
"^http://www.google.co.uk/complete"

are now obsolete. There is no difference whether this is enabled or not. So this entry could be removed?

I have tried and failed to get Youtube, Bing and Duckduckgo to ignore urls which contain suggestions so it doesn't record c, then ca, th

[2022-07-31 23:08] Dalacor commented on #738
I forgot to add that another website that also has problems is - https://www.imdb.com/list/ls074297314/. Website loads perfectly in stable version of E2guardian, but for some reason will not load images in E2G-5.5.1pre.

An unrelated issue, but one that I have also noticed during all my testing is that E2guardian seems to be a bit sluggish loading some pages in both stable and latest version of E2

[2022-07-31 23:29] Dalacor commented on #733
I have done the work on TLD. Here is the coding required to block all TLD's by default and explicitly allow specific TLD's. I have also created the necessary coding to allow all TLD's by default and only block a few. Most users will probably only want to block a few TLD's rather than have to explicitly allow TLD's as it is more work to have a blanket block in place obviously.

I tested a blanket T

[2022-08-05 11:57] Dalacor commented on #738
Adding Youtube to nomitmsitelist gets Youtube working in E2G-5.5.1pre. However this is not required in previous versions of E2G. So definitely something broken in latest version of E2G.

Upon further testing of Google and Youtube, I think the underlying cause of any performance issues is with the actual websites (probably loading a lot of scripts and elements). This is exacerbated when using E2G a

[2022-08-05 12:10] Dalacor opened #741 "Search Terms Field not showing in E2g-5.5.1pre log file"
Google and Bing Search terms not showing in search term field in E2G-5.5.1pre. Not an issue in earlier versions of E2guardian. The config files are the same obviously. Makes no difference using safe mode search or not.

It looks to me like not all the fields are displaying in E2G5.5.1pre log file, and the order of some fields is slightly from stable version of E2G.

[2022-08-05 15:57] philipianpearce commented on #738
Are you using the latest in the v5.5 branch?

It is possible that this is related to bug #730 which was fixed after v5.5.1pre release.

(On my test rig using latest v5.5 - youtube works fine and there is no discernible difference in loading speed between using e2g or not, even though e2g does not support the h2 protocol which a browser talking direct to google sites will use).

[2022-08-08 08:34] philipianpearce commented on #732
The term 'download manager' is a bit misleading as the default download manager is also used for inbuilt  content checking.   Previous versions of v5 have only supported the default download manager and I have never (in  previous versions) used anything else on systems we support.  But there have been a number of requests for trickle and fancy to be re-instated.  In v5.5 I have re-written the Data

[2022-08-08 08:43] philipianpearce commented on #732
Just uploaded to v5.5 with config references to trickle and fancy commented out.

[2022-08-08 08:56] philipianpearce commented on #733
Have updated v5.5 to do this.  Also added new message 752 for use by these functions/lists.

Note I have used allowedtldlist rather than exceptiontld.  Exceptions
generally override everything but this list is used in blanketblock and
so will be overridden by exception site urls etc.

[2022-08-08 10:08] philipianpearce commented on #739
Thanks for info on kiddle.co - I will add to example file.

With youtube I had come to the same conclusion as you.   However, the link in the browser changes to a readable url, which is not passed through e2g unless user refreshes browser.  If we can pick-up some how in the response how this is set ( html header?? js??) we may be able take search term from there in next release.

[2022-08-08 11:42] philipianpearce commented on #741
Please would you post a sample of the log file with this problem?

(I am unable to replicate here with my test set up).

logfileformat is 7 or 8??
and usedashforblank setting?

[2022-08-08 16:56] Dalacor commented on #732
There is no harm in keeping Clamav coding within E2guardian. But I would not recommend further development for Clam AV. I think the technology Clamav is based on is not relevant anymore. Restricting filetypes and mimetypes is a far more effective tool and is less likely to cause issues with websites.

I will stick with default download manager then. as I have no need for trickle or fancy.

I will

[2022-08-08 16:56] #732 closed, assigned to philipianpearce

[2022-08-08 17:10] Dalacor commented on #733
The reason I went with the name exceptiontld is because this is what you have for filetypes and mimetype exceptions. You have named them exceptionextension and exceptionmime - so I used the same naming format for consistency. But I agree with your point that exceptions generally override exceptions.

I will test this when I have time. Thanks

[2022-08-08 17:16] Dalacor commented on #738
I am using v5.5.1pre release and 5.4.5r as my testing versions. Didn't realise that anything had been released after 5.5.1pre. I will download the latest E2G and test. I have looked at the linked bug and that would explain the problems with imdb as well. I will update when I have upgraded and tested.

[2022-08-08 17:19] Dalacor commented on #739
Google is very problematic because every year or two, they keep changing how their websites work. Google.co.uk does work and that is probably far more important. Youtube search is less relevant because of Youtube Safe mode. So not the end of the world if this cannot be fixed especially as Youtube may well change how it works to match the way google.co.uk works in future?

[2022-08-08 17:22] Dalacor commented on #741
I will upgrade to the most recent version of E2guardian as I am on 5.5.1pre. This may have already been fixed in the very latest patch. I am on the version where Youtube will not load, which you said has now been patched. I will test on latest patch and see if the problem is still present.

[2022-08-12 11:14] Dalacor commented on #738
I have installed the very latest version. Youtube is working as in the IMDB website. So has definitely been fixed. Can't comment on speed as working away from home atm and Internet speed is not the best where I am currently. So will close this topic as the reported issue has been solved.

[2022-08-12 11:14] #738 closed, assigned to nobody

[2022-08-12 15:18] Dalacor commented on #741
I have now updated to the very latest version. Still seeing the same issue. But I realise it is not limited to just search terms. Proxy server details are also missing etc. I think it has more to do with the new logging functionality in E2g 5.5 than anything else. I have read the documentation on the new logging system and it is not clear if 5.5 requires one to set search terms and proxy etc anywh

[2022-08-15 19:19] langfield opened #742 "No documentation on how to use this tool"
I have what must be the most basic use case imaginable. I want to block all HTTP traffic, on the host machine, a single computer. It took me the better part of a day to just figure out that the Wiki is where you're supposed to look for usage instructions. Note that the words `documentation`, `docs`, `usage`, `tutorial`, and `how to` appear **nowhere** on the website or in the `README`.

There are

[2022-08-15 22:07] langfield commented on #615
It is very surprising to me that this issue was closed. As a new user with a fair amount of networking experience, it is still a mystery to me how I would accomplish this workflow beyond Step 3:

I would love to hear an explanation of how a new user is supposed to figure out how to actually **create** an exception via storyboarding as hinted at below in `exceptionsitelist`:
[code]

This makes it s

[2022-08-16 08:17] KDGundermann commented on #742
Hi William,
I have tried to rearrange and enhance the documentation on e2guardian.
You may find my draft : [here](https://github.com/KDGundermann/e2guardian/tree/v5.5.docs)
There is an open [pull request](https://github.com/e2guardian/e2guardian/pull/657) but as my documentation is still not complete I am waiting for some feedback / clarification / additions..

[2022-08-16 09:31] philipianpearce opened #743 "v5.5 wrong default value assigned to logfileformat"
Cause of #741

[2022-08-16 09:41] philipianpearce commented on #741
The new logging/debug system has not changed the format of the access.log. I.e. There is no change to logging formats in v5.5.

However, the way defaults are set has been change and there is a bug in the default setting for logfileformat it should be 8 and is being set to 1. See #743. Now fixed in v5.5 and v5.6.dev.

Thanks for reporting.

To fix without using latest v5.5 set logfileformat = 8 in

[2022-08-16 10:00] Dalacor commented on #741
Just tested this now. My config was already at default 8, so didn't explicitly enable it as I thought it would use 8. Now enabled it explicitly.

The search terms and proxy server settings etc are all showing as expected. The time is now showing in Linux time format instead of 24 hour time. I presume that this is necessary to get around issues with time zones etc? It's just really handy to be able

[2022-08-17 10:41] langfield commented on #742
@KDGundermann thanks for replying, I looked over your PR and I like the changes you've made a lot. I hope it gets merged sometime soon!

[2022-09-01 04:12] aupaaus commented on #742
There are references/urls to dansguardian in the wiki which fail.

[2022-09-01 08:31] KDGundermann commented on #742
do you mean in the current wiki or in my new draft ??

[2022-09-01 09:50] fleamour opened #744 "e2guardian.service fails to start post edit"
[code]

When applying edits to bannedsiteslist & saving via nano e2guardian will fail to start with above error. Reverting to stock lets e2guardian start:

[code]

[2022-09-01 16:33] philipianpearce commented on #744
Likely that the file permissions are being changed in the edit - file must be owned by the e2guardian user.

For more details on reason for failure look in the system log (syslog often called messages in /var/log).

----- On 1 Sep, 2022, at 10:51, fleamour ***@***.***> wrote:

[2022-09-01 18:24] fleamour commented on #744
I will chown recursively after nano edit.

EDIT: Did not work unless need to chown as root? When nano edit back to previous # then it all works again, bit useless if cannot edit config file. It's journalctl on openSUSE Tumbleweed, but nothing telling.

[2022-10-06 09:43] Hruster opened #745 "e2guardian doesn't start on Raspbian"
Hello,

I am using Raspberry Pi 4 with Raspbian OS (v10 buster). I have installed e2guardian and started the service but it doesn't look like started. No changes to config files were done. Here is what status it has
[code]
I have tried these packages
https://e2guardian.numsys.eu/v5.3/e2raspbian_buster_V5.3.5_20210401.deb
https://e2guardian.numsys.eu/v5.3/e2raspbian_buster_V5.3.5_20210420.deb

What

[2022-10-06 11:35] fredbcode commented on #745
Hello

There is something in syslog ?

Le 6 octobre 2022 11:43:14 GMT+02:00, Rostyslav Diachenko ***@***.***> a écrit :

--
Envoyé de mon appareil Android avec Courriel K-9 Mail. Veuillez excuser ma brièveté.

[2022-10-06 12:48] Hruster commented on #745
[code]

[2022-10-06 13:48] fredbcode commented on #745
Can you try
e2guardian -N
--
Envoyé de mon appareil Android avec Courriel K-9 Mail. Veuillez excuser ma brièveté.

[2022-10-06 14:07] Hruster commented on #745
Result
[code]

[2022-10-06 14:19] fredbcode commented on #745
You are using a 64 bits os ?

[2022-10-06 14:32] Hruster commented on #745
No, it's 32bit version

[2022-10-06 14:42] fredbcode commented on #745
The package is compiled on 64bits os
--
Envoyé de mon appareil Android avec Courriel K-9 Mail. Veuillez excuser ma brièveté.

[2022-10-06 14:45] Hruster commented on #745
I see. Thanks for the info. I will update OS on the device and try it again.

[2022-10-06 16:09] #745 closed, assigned to nobody

[2022-10-10 12:42] fleamour commented on #744
Likely a config issue. I only discovered Wiki by blindly stabbing around github. Not intuitive for new users, but sure glad it there, now.

[2022-10-13 21:52] meyertime commented on #654
Quick update: I found a workaround.  So one problem was that the WebSocket connection was not actually going to e2guardian at all!  Turns out when Firefox is using system proxy settings, it doesn't apply to WebSocket connections.  I had the firewall configured to block direct connections that aren't through e2guardian (to prevent circumventing the proxy), and thus it blocked the WebSocket.  I conf

[2022-10-14 08:54] #741 closed, assigned to philipianpearce

[2022-10-15 14:31] trueuto opened #749 "Add verdict to HTTP response headers"
Hi,

to check and validate e2guardian's configuration I use a simple Python app that issues a number of HTTP requests via the e2guardian proxy, some of them expected to be blocked (DENIED), some expected to be passed. Currently I simply parse the output and look for a specific string I have added to my e2guardian error page template to detect whether the request has been denied or not. While this

[2022-10-27 06:50] elderbig opened #750 "phraselists do not work"
`e2guardianf1.conf`
[code]
sitelist does work,but bannedphraselist does not, here is my `bannedphraselist`
[code]
then restart e2guardian service,browser search using "sex", response pages contains "sex" still.

[2022-10-27 08:16] philipianpearce commented on #750
Can you please post what version you are testing?

----- On 27 Oct, 2022, at 07:51, elderbig ***@***.***> wrote:

[2022-10-27 08:17] philipianpearce commented on #750
And also, have you got MITM enabled?

----- On 27 Oct, 2022, at 07:51, elderbig ***@***.***> wrote:

[2022-10-27 09:54] elderbig commented on #750
Thank you!

I use e2guardian 5.3.5, which install use apt  on ubuntu 22.0.4.
I try to resolve this problem, I fond a item in FAQ like this:
[code]
this tell me, banneduserlist is abandoned in "groupmode" , and "groupmode"  is defualt mode, what shall I do?

[2022-10-27 09:56] elderbig commented on #750
MITM shoud disable when I want to filter content, I think so.
[code]
this default config.

[2022-10-27 10:24] philipianpearce commented on #750
As the www is now 99% https, e2guardian is not able to see the content (or url part) of sites and filter it, without MITM being set-up and enabled.

So, phaselists cannot work without MITM!

See [ https://github.com/e2guardian/e2guardian/wiki/MITM---Filtering-HTTPS | https://github.com/e2guardian/e2guardian/wiki/MITM---Filtering-HTTPS ] .

Once you have followed the instructions in the link above

[2022-10-27 13:06] elderbig commented on #750
I create cert and modify config,than restart e2guardian,when browse web,firefox report failed,got error code PR_CONNECT_RESET_ERROR, and give report page:
`
chrome://browser/content/certerror/supportpages/connection-not-secure.html
`
and import  my_cert into browser failed.
this my e2guardian.conf:
[code]

e2guardianf1.conf
[code]

I only give little message for create cert,if this feasible？

[2022-10-27 17:14] philipianpearce commented on #750
Set 'enablessl = on' !!!

----- On 27 Oct, 2022, at 14:06, elderbig ***@***.***> wrote:

[2022-10-29 07:51] elderbig commented on #750
Yes, enablessl should be set to on,but [https://github.com/e2guardian/e2guardian/wiki/MITM---Filtering-HTTPS](url) did not described I think. addition I did this:
1. given DN=127.0.0.1 for create certs for I only test in myself host,and other information.
2. import cert into browser.
3. set all kinds of proxy as https point to 8080, not to 8443.

other things I use iptables limit user on my comput

[2022-10-29 20:01] Dalacor opened #751 "Request Default Port Change for E2guardian"
Port 8080 has always traditionally been the port used for Proxy Servers. However, unfortunately many Lan systems (and backdoor trojans) use Port 8080 eg Ubiquiti Wireless. I would recommend that E2guardian uses ports 8081 upwards.

While it is easy enough to change the default port in E2guardian, I think it would be a good idea to review whether port 8080 is the most appropriate port to use by def

[2022-10-31 21:45] #744 closed, assigned to nobody

[2022-11-04 02:15] cunhaigo23 opened #752 "Upgrade E2 Guardian 5.5 Pfsense"
Greetings, I would love to update Pfsense's E2guardian, I currently have the version
0.5.3.4_3 and I would like to upgrade to 5.5, would that be possible, thank you very much Rodrigo

[2022-11-17 10:21] rshmhrj opened #753 "Upgraded from 5.3.4 to 5.4.5 and enablessl and groups do not seem to be working"
Upgraded to `jammy_V5.4.5r_20220907.deb` on Ubuntu 22.04.1 LTS.  I have a simple Squid running (no ICAP) and things were pretty smooth.  After upgrading starting e2guardian service fails without any clear reasons -- it just says `exit-code`.

[code]

The error goes away and e2guardian starts if I comment out the `enablessl=on` line in `e2guardian.conf`.

I also took some time to set up two filterg

[2022-11-17 12:46] philipianpearce commented on #753
Have you read and followed the instructions found here?  https://github.com/e2guardian/e2guardian/blob/v5.4/notes/Upgrading_to_V5.4

Also, check your system log /var/log/messages for errors output from e2guardian - should tell you why it has failed.

[2022-11-17 12:49] philipianpearce commented on #753
Also,   this is not a bug so should be asked on google group see #21

[2022-11-18 07:52] rshmhrj commented on #753
Hi @philipianpearce thanks for the quick response and references!  I did follow the suggestions from the upgrade guide when performing it.  Took a look at it again to see if there was anything that I missed.

I will post the question on the Google group.  Also, FYI re: the system log -- there is no file`/var/log/messages`, though I did check `/var/log/syslog`, but there were no additional details

[2022-11-18 07:52] #753 closed, assigned to nobody